<template>
<div class="container is-fluid">
  <div class="columns is-multiline is-gapless title-wrapper">
    <div class="column is-12 has-text-centered site-title">
      Database of crypto portfolios
    </div>
    <div class="column is-12 has-text-centered made-by-link">
      [follow us on <a target="_blank" href="https://twitter.com/HodlerList">Twitter</a>]
    </div>
    <div class="column is-12 has-text-centered made-by-link">
      [join the <a target="_blank" href="https://t.me/hodlerlist">Telegram channel</a>]
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <NewsletterForm/>
    </div>
  </div>

  <div class="page-section-title">
    Top performing portfolios
  </div>

  <div class="columns is-multiline top-portfolios-wrapper">
    <div class="column is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-quarter-fullhd"
      v-for="(portfolio, index) in topByChange"
      :key="index">
        <PortfolioListItem
        :portfolio="portfolio"/>
    </div>
  </div>
  <hr/>

  <div class="page-section-title">
    Newest portfolios
  </div>
  <PortfolioList/>
  <FeedbackPopup/>
</div>
</template>

<script>
import PortfolioService from '@/mixins/PortfolioService';
import PortfolioListItem from '@/components/PortfolioListItem';
import PortfolioList from '@/components/PortfolioList';
import NewsletterForm from '@/components/NewsletterForm';
import FeedbackPopup from '@/components/FeedbackPopup';

export default {
  name: 'AppHome',
  mixins: [PortfolioService],
  components: {
    PortfolioListItem,
    PortfolioList,
    NewsletterForm,
    FeedbackPopup,
  },
  data() {
    return {
      topPortfolios: this.$store.state.topPortfolios.topByUpvotes,
      topByChange: this.$store.state.topPortfolios.topByChange,
    };
  },
  async created() {
    if (!this.topByChange.length) {
      // Update top portfolios only when page is reloaded
      try {
        this.topByChange = await this.getTopPortfoliosByChange(4);
        this.$store.dispatch('topPortfolios/setTopByChange', this.topPortfolios);
      } catch (e) {
        /* Continue */
      }
    }
  },
};
</script>

<style scoped>
.container {
  padding: 0 10px;
}

.title-wrapper {
  margin-top: 20px;
}

.site-title {
  font-weight: 900;
  font-size: 1.8em;

  color: #5B5B5C;
}

.made-by-link {
  font-weight: 600;
  font-size: 1.0em;
}

.made-by-link > a {
  color: #ED473D;
}

.top-portfolios-wrapper {
  margin-top: 10px;

  display: flex;
}

.page-section-title {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .page-section-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 425px) {
  .page-section-title {
    margin-left: 10px;
  }
}
</style>
