<template>
<div class="outer">
  <div class="navbar-wrapper">
    <div class="brand">
      <router-link class="brand-logo-link"
      :to="{ name: 'AppHome' }">
        <img class="brand-logo"
        src="/static/logo.png"
        alt="Hodler List - Best Cryptocurreny Portfolios">
      </router-link>
      <div class="beta-text">
        [beta]
      </div>

      <!-- <div class="pricing">
        <router-link
        :to="{ name: 'LandingPage' }">
          Pricing
        </router-link>
      </div> -->
    </div>

    <div class="navigation-right-buttons"
    v-if="!currentUser">
      <div class="button-add"
      @click="goPortfolioNew">
        <i class="fa fa-plus" aria-hidden="true"/>
      </div>
      <div class="button-join">
        <a class="button"
        @click="showModalSignIn">
          SIGN IN
        </a>
      </div>
    </div>

    <div class="user-info-wrapper"
    v-if="currentUser">
      <div class="button-add"
      @click="goPortfolioNew">
        <i class="fa fa-plus" aria-hidden="true"/>
      </div>

      <div class="account-photo">
        <div :class="{ dropdown: true, 'is-right': true ,'is-active': isAccountDropdownActive }">
          <div class="dropdown-trigger">
            <div class="columns"
              @click.stop="toggleAccountDropdown">
              <div class="column">
                <figure class="image is-32x32">
                  <img :src="currentUser.providerData[0].photoURL">
                </figure>
              </div>
            </div>
          </div>

          <div class="dropdown-menu"
            role="menu"
            v-click-outside="hideAccountDropdown">
            <div class="dropdown-content">
              <a class="dropdown-item"
              @click="goProfileUser">
                My Profile
              </a>
              <hr class="dropdown-divider">
              <a class="dropdown-item"
              @click="signOutUser">
                Sign out
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="divider">
</div>
</template>

<script>
import firebase from 'firebase';
import ClickOutside from '@/directives/ClickOutside';

export default {
  name: 'AppNavigation',
  directives: { ClickOutside },
  data() {
    return {
      isAccountDropdownActive: false,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters['user/getCurrentUser'];
    },
  },
  methods: {
    hideAccountDropdown() {
      this.isAccountDropdownActive = false;
    },
    toggleAccountDropdown() {
      this.isAccountDropdownActive = !this.isAccountDropdownActive;
    },
    showModalSignIn() {
      this.$store.dispatch('modalSignIn/setModalSignInActive', true);
    },
    signOutUser() {
      firebase.auth().signOut();
      this.$router.push({ name: 'AppHome' });
    },
    goProfileUser() {
      this.isAccountDropdownActive = false;
      this.$router.push({ name: 'ProfileUserInfo', params: { id: this.currentUser.uid } });
    },
    goPortfolioNew() {
      if (this.currentUser) {
        this.$router.push({ name: 'PortfolioNewAnonymous' });
      } else {
        this.$store.dispatch('modalSignIn/setModalSignInActive', true);
      }
    },
  },
};
</script>

<style scoped>
.name {
  display: flex;
  align-items: center;
}

.outer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
}

.divider {
  width: 100%;
  margin: 25px 0 auto;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0 0;

  background-color: white;
}

.brand {
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.brand-logo-link {
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 3.0em;
  width: 3.0em;
}

.beta-text {
  padding-left: 15px;

  font-weight: 600;
  color: #5B5B5C;
}

.pricing {
  padding-left: 15px;
  font-weight: 600;
  color: #5B5B5C;
}


.navigation-right-buttons {
  display: flex;
}

.button-join, .account-photo {
  padding-right: 70px;
}

.button-join > a {
  border: none;
  border-radius: 4px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);

  font-weight: 700;
  font-size: 1.1em;

  color: white;
  background-color: #ED473D;

  transition: all .2s ease;
}

.button-join > a:hover {
  background-color: rgb(248, 86, 78);
  transform: translateY(-7px);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
}

.user-info-wrapper {
  display: flex;
  align-items: center;
}

.button-add {
  display: flex;
  align-items: center;
  margin-right: 20px;

  font-size: 1.2em;
  color: #8B8FA1;
}

.button-add:hover {
  cursor: pointer;
  color: #ED473D;
}

.button-add > a {
  border: none;
  border-radius: 4px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);

  font-weight: 400;
  font-size: 1.1em;

  color: white;
  background-color: #ED473D;

  transition: all .2s ease;
}

.account-photo:hover {
  cursor: pointer;
}

.account-photo img {
  max-height: none;
  border-radius: 50%;

  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.dropdown-divider {
  max-width: 85%;
  margin: 0.5rem auto;
}

@media screen and (max-width: 768px) {
  .brand {
    padding-left: 15px;
  }

  .button-join, .account-photo {
    padding-right: 15px;
  }
}
</style>
