<template>
<div>
  <div class="columns is-mobile comment-header">
    <div class="column is-narrow account-photo">
      <figure class="image is-32x32">
        <img :src="photoUrl">
      </figure>
    </div>
    <div class="column is-narrow">
      <router-link class="user-profile-link"
      :to="{ name: 'ProfileUserInfo', params: { id: userId } }">
        @{{ username }}
      </router-link>
    </div>
    <div class="column is-narrow timestamp-text">
      {{ timestamp | timeSince }} ago
    </div>
    <div class="column is-narrow"
    v-if="isOwner && !isPreview">
      <i class="fa fa-trash-o delete-icon"
      @click="onDeleteIconClick"
      v-if="!isDeleting"/>
      <i class="fa fa-circle-o-notch fa-spin"
      v-else/>
    </div>
  </div>
  <div class="columns">
    <div class="column comment-body">
      {{ comment }}
    </div>
  </div>
</div>
</template>

<script>
import PortfolioCommentService from '@/mixins/PortfolioCommentService';

export default {
  mixins: [PortfolioCommentService],
  name: 'CommentPortfolio',
  props: {
    comment: {
      type: String,
      required: true,
    },
    username: {
      type: String,
      required: true,
    },
    photoUrl: {
      type: String,
      required: true,
    },
    userId: {
      type: String,
      required: true,
    },
    portfolioId: {
      type: String,
      required: true,
    },
    commentId: {
      type: String,
      required: true,
    },
    timestamp: {
      type: Number,
      required: true,
    },
    isPreview: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      isDeleting: false,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters['user/getCurrentUser'];
    },
    isOwner() {
      if (this.currentUser) {
        if (this.currentUser.uid === this.userId) {
          return true;
        }
      }
      return false;
    },
  },
  methods: {
    async onDeleteIconClick() {
      if (!this.isDeleting) {
        try {
          this.isDeleting = true;
          await this.deletePortfolioComment(this.userId, this.portfolioId, this.commentId);
          this.$emit('delete', this.commentId);
          this.isDeleting = false;
        } catch (e) {
          this.isDeleting = false;
        }
      }
    },
  },
};
</script>

<style scoped>
  .comment-header {
    /* display: flex; */
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 10px;
  }

  .user-profile-link {
    color: #FA4B40;
    font-weight: 600;
    font-size: 1.1em;
  }

  .account-photo img {
    border-radius: 50%;
  }

  .timestamp-text {
    font-size: 0.8em;
  }

  .delete-icon:hover {
    cursor: pointer;
    color:#FA4B40;
  }

  .comment-body {
    padding-left: 30px;
  }
</style>
