<template>
<div class="wrapper"
:class="{ expanded: isShowingFeedback }">
  <div class="title-wrapper"
  @click="onWrapperClick">
    <span class="text">
      Have a feedback?
    </span>
    <i class="fa"
    :class="{ 'fa-chevron-up': !isShowingFeedback, 'fa-chevron-down': isShowingFeedback }"/>
  </div>
  <div class="feedback-content"
    v-show="isShowingFeedback">
      <div class="columns">
        <div class="column">
          Do you want to report a bug? Or just leave a message?
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <input class="input"
          type="text"
          placeholder="Name"
          v-model="name"/>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <input class="input"
          type="email"
          placeholder="Email"
          v-model="email"/>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <textarea
          class="textarea"
          v-model="message">
          </textarea>
        </div>
      </div>
      <div class="columns">
        <div class="column has-text-right"
        v-if="!isEmailSent">
          <a class="button button-full"
          @click="onSendButtonClick">
            Send
          </a>
        </div>
        <div class="column has-text-right"
        v-else>
          Sent 👌
        </div>
      </div>
    </div>
</div>
</template>

<script>
import firebase from 'firebase';

export default {
  name: 'FeedbackPopup',
  data() {
    return {
      isShowingFeedback: false,
      email: '',
      name: '',
      message: '',
      isSendingEmail: false,
      isEmailSent: false,
    };
  },
  computed: {
    isValidEmail() {
      /* TODO: should be on server */
      /* Or maybe send varification email to user after subscription */
      const re = /^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([^<>()[\].,;:\s@"]+\.)+[^<>()[\].,;:\s@"]{2,})$/i;
      return re.test(this.email);
    },
  },
  methods: {
    onWrapperClick() {
      this.isShowingFeedback = !this.isShowingFeedback;
    },
    async onSendButtonClick() {
      if (this.email.length
      && this.name.length
      && this.message.length
      && this.isValidEmail
      && !this.isSendingEmail
      ) {
        // TODO: For now just save in database
        this.isEmailSent = true;
        try {
          this.isSendingEmail = true;

          const ref = firebase.firestore().collection('feedback-messages').doc();
          await ref.set({
            email: this.email,
            name: this.name,
            message: this.message,
            timestamp: firebase.firestore.FieldValue.serverTimestamp(),
          });
        } catch (e) {
          /* Continue */
        } finally {
          this.isSendingEmail = false;
        }
      }
    },
  },
};
</script>

<style scoped>
.wrapper {
  position: fixed;
  border: 1px solid #ededed;
  bottom: 0;
  right: 2em;
  margin: 0;
  width: 16em;
  text-align: left;
  padding: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  z-index: 998;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  background: white;
  cursor: pointer;
  color: #6f6f6f;
  border-width: 1px;
}

.expanded {
  min-height: 18em important!;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-wrapper:hover {
  cursor: pointer;
}

.text {
  color: #6f6f6f;
  font-weight: 600;
  font-size: 1.1em;
}

.textarea {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: none;
  }
}
</style>
