<template>
<div class="wrapper">
  <input class="input is-expanded"
  type="text"
  :placeholder="inputPlaceholder"
  v-model="inputValue"
  @input="onInput"
  @focus="onFocus"
  @keydown.enter="onEnter"
  @keydown.up="onUp"
  @keydown.down="onDown"/>
  <div :class="{ dropdown: true, 'is-active': isActive }">
    <div class="dropdown-menu">
      <div class="dropdown-content"
      id="autocomplete-content">
        <div class="dropdown-item has-text-centered"
        v-if="!isFinished && suggestions.length == 0">
          <i class="fa fa-cog fa-spin fa-2x"/>
        </div>
        <div class="dropdown-item has-text-centered"
        v-if="isFinished && suggestions.length == 0">
          NOTHING FOUND
        </div>

        <div v-for="(suggestion, index) in suggestions" :key="index"
        :class="{ 'dropdown-item': true, 'is-active-suggestion': isActiveSuggestion(index) }"
        :id="[ `dropwdown-item-${index}` ]"
        @mouseover="onSuggestionMouseOver(index)"
        @click="onSuggestionClick(index)">
          {{ suggestion.name }}
        </div>

      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'InputAutocomplete',
  props: {
    inputPlaceholder: {
      type: String,
      required: false,
      default: '',
    },
    suggestions: {
      type: Array,
      required: true,
      default: [{}],
    },
    isActive: {
      type: Boolean,
      required: true,
      default: false,
    },
    isFinished: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  data() {
    return {
      // So no suggestiom from autocomplete is selected
      currentIndex: 0,
      inputValue: '',
    };
  },
  computed: {
    selectedSuggestion() {
      return this.suggestions.length > 0 ? this.suggestions[this.currentIndex] : {};
    },
    activeSuggestionEl() {
      return this.$el.querySelector(`#dropwdown-item-${this.currentIndex}`);
    },
    autocompleteContentEl() {
      return this.$el.querySelector('#autocomplete-content');
    },
    suggestionMarginBottom() {
      return parseInt(window.getComputedStyle(this.activeSuggestionEl).marginBottom, 10);
    },
  },
  watch: {
    suggestions() {
      if (this.suggestions.length > 0) {
        this.inputValue = this.selectedSuggestion.name;
      }
    },
    selectedSuggestion(newValue) {
      this.$emit('selectedSuggestionChange', newValue);
    },
    inputValue(newValue) {
      this.$emit('input', newValue);
    },
  },
  methods: {
    isActiveSuggestion(index) {
      return index === this.currentIndex;
    },
    onInput() {
      this.currentIndex = 0;
      // Emit special event when user changes input explicitely (i.e. by writting)
      // When user is going up/down/hover shouldSearch shouldn't be emitted
      // because user doesn't want to search new stuff
      this.$emit('shouldSearch', this.inputValue);
    },
    onFocus() {
      this.$emit('focus', this.inputValue);
    },
    onEnter() {
      this.$emit('selected');
    },
    onUp() {
      if (this.currentIndex > 0) {
        this.currentIndex -= 1;

        this.inputValue = this.suggestions[this.currentIndex].name;

        if (this.activeSuggestionEl.offsetTop < this.autocompleteContentEl.scrollTop) {
          this.autocompleteContentEl.scrollTop = this.activeSuggestionEl.offsetTop
                                                  - this.suggestionMarginBottom;
        }
      }
    },
    onDown() {
      if (this.currentIndex < this.suggestions.length - 1) {
        this.currentIndex += 1;

        this.inputValue = this.suggestions[this.currentIndex].name;

        if (
          (this.activeSuggestionEl.offsetTop + this.activeSuggestionEl.clientHeight)
          > this.autocompleteContentEl.clientHeight
        ) {
          this.autocompleteContentEl.scrollTop += this.activeSuggestionEl.clientHeight
                                                  + this.suggestionMarginBottom;
        }
      }
    },
    onSuggestionMouseOver(index) {
      this.currentIndex = index;
      this.inputValue = this.suggestions[this.currentIndex].name;
    },
    onSuggestionClick(index) {
      this.currentIndex = index;
      this.$emit('selected');
    },
  },
};
</script>

<style scoped>
/* Make them wide as parent so it has same width as the input */
.dropdown, .dropdown-menu {
  min-width: 100%;
}
/* ---------- */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-content {
  max-height: 311px;
  overflow: scroll;

  border: none;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.dropdown-item {
  color: #8B8FA1;

  font-weight: 600;
  font-size: 1em;
}

.dropdown-item:not(.has-text-centered) {
  margin-bottom: 5px;
}

.is-active-suggestion {
  background-color: rgba(237, 70, 61, 0.247);
}

@media screen and (max-width: 768px) {
  .dropdown-content {
    max-height: 200px;
  }

  .dropdown-item {
    font-size: 0.85em;
  }

  .dropdown-item:not(.has-text-centered) {
    margin-bottom: 2px;
  }
}
</style>
