<template>
<div class="wrapper">
  <h1 class="title">Earn Ethereum with Hodler List</h1>

  <div class="page-section"
  v-if="showExplanation">
    <div class="columns is-multiline has-text-left">
      <div class="column is-12">
        <span class="explain-subtitle">1) Share your crypto portfolio</span>
        <br/>
        Simply post your current holdings and the date you made the trade.
        <br/>
        All the data will be computed for you.
      </div>
      <div class="column is-12">
        <span class="explain-subtitle">2) Let others copy it</span>
        <br/>
        Others can see how much your portfolio is risky, projection and historical data.
        <br/>
        If they like it they buy same coins as you did - copy your portfolio.
      </div>
      <div class="column is-12">
        <span class="explain-subtitle">3) Earn small amount of Ethereum</span>
        <br/>
        In return, you get a small value of the newly created portfolio in Ethereum.
      </div>
    </div>

    <div class="columns is-multiline">
      <div class="column">
        <a class="button button-full pricing-button"
        @click="pricingButtonClicked">
          Plans and Pricing
        </a>
      </div>

      <div class="column is-12">
        OR
      </div>

      <div class="column is-12">
        <router-link
        class="explore"
        :to="{ name: 'AppHome' }">
          Explore Portfolios
        </router-link>
      </div>
    </div>
  </div>

  <div class="page-section"
  v-if="showPricing">
    <div class="columns is-multiline cards-wrapper">
      <!-- Free -->
      <div class="column is-4">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              Free
            </div>
          </div>
          <div class="card-content">
            <span class="price">$0</span>/month
            <br/>
            <br/>
            <a class="button button-borders-only select-button"
            @click="selectPlanButtonClicked('free')">
              SELECT
            </a>
            <div class="features">
              <div class="columns is-multiline is-mobile is-gapless has-text-left">
                <div class="column is-12">
                  ✔ Unlimited portfolio posts
                </div>
                <div class="column is-12">
                  ✔ Copy 1 portfolio each month
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Standard -->
      <div class="column is-4">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              Standard
            </div>
          </div>
          <div class="card-content">
            <span class="price">$5</span>/month
            <br/>
            <br/>
            <a class="button button-borders-only select-button"
            @click="selectPlanButtonClicked('standard')">
              SELECT
            </a>
            <div class="features">
              <div class="columns is-multiline is-mobile is-gapless has-text-left">
                <div class="column is-12">
                  ✔ Unlimited portfolio posts
                </div>
                <div class="column is-12">
                  ✔ Copy up to 5 portfolios each month
                </div>
                <div class="column is-12">
                  ✔ Transaction notifications for 1 portfolio
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pro -->
      <div class="column is-4">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              Pro
            </div>
          </div>
          <div class="card-content">
            <span class="price">$15</span>/month
            <br/>
            <br/>
            <a class="button button-borders-only select-button"
            @click="selectPlanButtonClicked('pro')">
              SELECT
            </a>
            <div class="features">
              <div class="columns is-multiline is-mobile is-gapless has-text-left">
                <div class="column is-12">
                  ✔ Unlimited portfolio posts
                </div>
                <div class="column is-12">
                  ✔ Unlimited portfolio copies
                </div>
                <div class="column is-12">
                  ✔ Unlimited transaction notifications for each portfolio
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section"
  v-if="showEmaiLForm">
    <span class="explain-subtitle">Hello! You cought us before we are ready.</span>
    <br/>
    <div class="email-text">
      We're still hardly working on the new Hodler List.
      <br/>
      If you'd like us to send you a reminder when we're ready, just put your email below.
    </div>
    <div class="columns">
      <div class="column">
        <NewsletterForm
        isPlanSelect="false"
        :selectedPlan="selectedPlan"/>
      </div>
    </div>
    <br/>
    <div class="column is-12">
      <router-link
      class="explore"
      :to="{ name: 'AppHome' }">
        Explore Portfolios
      </router-link>
    </div>
  </div>

</div>
</template>

<script>
import NewsletterForm from '@/components/NewsletterForm';

export default {
  name: 'LandingPage',
  components: { NewsletterForm },
  data() {
    return {
      showExplanation: true,
      showPricing: false,
      showEmaiLForm: false,
      selectedPlan: '',
    };
  },
  methods: {
    pricingButtonClicked() {
      this.showExplanation = false;
      this.showPricing = true;
    },
    selectPlanButtonClicked(selectedPlan) {
      this.showPricing = false;
      this.showEmaiLForm = true;
      this.selectedPlan = selectedPlan;
    },
  },
};
</script>

<style scoped>
.wrapper {
  text-align: center;
}

h1 {
  margin-top: 30px;
  color: #5B5B5C;
}

.brand-logo {
  height: 3.0em;
  width: 3.0em;
}

.explain-subtitle {
  font-weight: 600;
  font-size: 1.5em;
  color: #5B5B5C;
}

.pricing-button {
  font-weight: 600;
}

.explore {
  text-decoration: underline;
}

/* PRICING */

.cards-wrapper {
  padding: 0 10px;
}

.card {
  border: none;
  box-shadow: none;

  color: #8B8FA1;
}

.card-header {
  box-shadow: none;
  border-bottom: 1px solid #cacaca;
}

.card-header-title {
  font-size: 1.4em;
  color: #5B5B5C;
}

.card-content {
  font-weight: 600;
  font-size: 1.5em;
}

.price {
  font-size: 2em;
  color: #ED473D;
}

.select-button {
  box-shadow: none;
  font-size: 0.8em;
  width: 200px;
}

.features {
  margin-top: 20px;
  font-size: 0.65em;
  color: #5B5B5C;
}

.email-text {
  margin: 20px 0;
  font-weight: 600;
}
</style>
