<template>
  <div class="modal is-active">
    <div class="modal-background">
    </div>
    <div class="modal-content">
      <div v-if="!showProvidersButtons">
        <div class="columns is-centered content">
          <div class="column is-6">
            Choose a username
            <input class="input"
            type="text"
            placeholder="e.g. hodler001"
            maxlength="21"
            v-model="username"
            @input="onInput">
            <span class="error-message">{{ this.errorMessage }}</span>
          </div>
        </div>
        <div class="columns is-centered content">
          <div class="column is-6">
            <a class="button button-full sign-up-button"
            @click="onSignUpButtonClick">
              <span v-show="isLoading">
                <i class="fa fa-circle-o-notch fa-lg fa-spin"/>
              </span>
              <span v-show="!isLoading">
                SIGN UP
              </span>
            </a>
          </div>
        </div>
        <div class="columns is-centered content">
          <div class="column is-6 sign-in-text">
            Already have an account?
            <a class="sign-in-link"
            @click="onSignInLinkClick">
              Sign in.
            </a>
          </div>
        </div>
      </div>
      <div v-if="showProvidersButtons">
        <div class="columns is-multiline is-centered">
          <div class="column is-12 has-text-centered"
          v-if="!isLoading">
            <a class="button button-facebook"
              @click="onSingInProviderButtonClick('facebook')">
              <span class="icon">
                  <i class="fa fa-facebook"></i>
              </span>
              <span>
                  Sign in with Facebook
              </span>
            </a>
          </div>
          <div class="column is-12 has-text-centered"
          v-if="!isLoading">
            <a class="button button-twitter"
              @click="onSingInProviderButtonClick('twitter')">
              <span class="icon">
                  <i class="fa fa-twitter"></i>
              </span>
              <span>
                  Sign in with Twitter
              </span>
            </a>
          </div>
          <div class="column is-12 has-text-centered">
            <span v-if="isLoading">
              <i class="fa fa-circle-o-notch fa-lg fa-spin"/>
            </span>
            <span v-else>
              {{ errorMessage }}
            </span>
          </div>
        </div>
      </div>
    </div>


    <button class="modal-close is-large"
    aria-label="close"
    @click="onCloseButtonClick"/>
  </div>
</template>

<script>
import firebase from 'firebase';
import UserService from '@/mixins/UserService';

export default {
  name: 'ModalSignIn',
  mixins: [UserService],
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      username: '',
    };
  },
  computed: {
    isSigningUp: {
      get() {
        return this.$store.getters['modalSignIn/getIsSigningUp'];
      },
      set(newValue) {
        this.$store.dispatch('modalSignIn/setIsSigningUp', newValue);
      },
    },
    showProvidersButtons: {
      get() {
        return this.$store.getters['modalSignIn/getShowProvidersButtons'];
      },
      set(newValue) {
        this.$store.dispatch('modalSignIn/setShowProvidersButtons', newValue);
      },
    },
    errorMessage: {
      get() {
        return this.$store.getters['modalSignIn/getErrorMessage'];
      },
      set(newValue) {
        this.$store.dispatch('modalSignIn/setErrorMessage', newValue);
      },
    },
    isLoading: {
      get() {
        return this.$store.getters['modalSignIn/getIsLoading'];
      },
      set(newValue) {
        this.$store.dispatch('modalSignIn/setIsLoading', newValue);
      },
    },
  },
  methods: {
    async onSignUpButtonClick() {
      // New account
      if (!this.isLoading) {
        this.isSigningUp = true;
        if (this.username.length) {
          // Check whether username is available
          try {
            this.isLoading = true;
            const isAvailable = await this.checkIfUsernameAvailable(this.username);
            this.isLoading = false;

            if (isAvailable) {
              this.showProvidersButtons = true;
            } else {
              this.errorMessage = 'That username is taken.';
            }
          } catch (e) {
            this.errorMessage = 'Uups, something went wrong.';
          }
        }
      }
    },
    async onSignInLinkClick() {
      // Sign in into an existing account
      if (!this.isLoading) {
        this.isSigningUp = false;
        this.showProvidersButtons = true;
      }
    },
    async onSingInProviderButtonClick(type) {
      this.isLoading = true;

      let provider = {};
      if (type === 'facebook') {
        provider = new firebase.auth.FacebookAuthProvider();
      } else if (type === 'twitter') {
        provider = new firebase.auth.TwitterAuthProvider();
      }

      if (this.isSigningUp) {
        // User wants to create new account
        try {
          const { user } = await firebase.auth().signInWithPopup(provider);

          const userId = user.uid;
          const username = this.username.trim().toLowerCase();
          const { email } = user.providerData[0];
          let photoUrl = '';
          if (type === 'facebook') {
            photoUrl = user.providerData[0].photoURL;
          } else if (type === 'twitter') {
            const photoExtension = user.providerData[0].photoURL.substring(
              user.providerData[0].photoURL.lastIndexOf('.'),
              user.providerData[0].photoURL.length,
            );
            photoUrl = `${user.providerData[0].photoURL.substring(
              0,
              user.providerData[0].photoURL.lastIndexOf('_'),
            )}_bigger${photoExtension}`;
          }

          await this.writeUser(userId, username, email, photoUrl);
          this.isLoading = false;
          this.closeModal();
        } catch (e) {
          if (firebase.auth().currentUser) {
            await firebase.auth().currentUser.delete();
            firebase.auth().signOut();
          }
          console.log(e);
          this.isLoading = false;
          this.errorMessage = 'Uups, something went wrong.';
        }
      } else {
        // User wants to sign in into an existing account
        try {
          const { user } = await firebase.auth().signInWithPopup(provider);
          const { uid } = user;

          // Check DB whether a user with this uid exists
          const isExistingUser = await this.checkIfUserExists(uid);

          // Either close modal (=user exists) or sign out and present error
          this.isLoading = false;
          if (isExistingUser) {
            this.$store.dispatch('modalSignIn/setModalSignInActive', false);
          } else {
            this.errorMessage = 'Please create new account first.';
            firebase.auth().signOut();
          }
        } catch (e) {
          if (firebase.auth().currentUser) {
            firebase.auth().signOut();
          }
          console.log(e);
          this.errorMessage = 'Uups, something went wrong.';
        }
      }
    },
    onInput() {
      this.errorMessage = '';
    },
    onCloseButtonClick() {
      this.closeModal();
    },
    closeModal() {
      // Reset cached values for the modal
      this.$store.dispatch('modalSignIn/resetState');
      this.$emit('close');
    },
  },
};
</script>

<style scoped>
  .modal-content {
    top: 150px;
    min-height: 100%;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
  }

  .modal-background {
    background-color: rgba(66, 66, 66, 0.39);
  }

  .modal-close {
    height: 60px;
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    width: 60px;
  }

  .input {
    border: none;
    border-radius: 2px;

    height: 44px;

    color: #5B5B5C;
  }

  .sign-up-button {
    width: 130px;

    font-weight: 600;
  }

  .sign-in-link {
    border-bottom: 3px solid #FA4B40;
  }

  .sign-in-link:hover {
    color: white;
    background-color: #FA4B40;
    border-bottom: none;
  }

  /* <SOCIAL BUTTONS> */
  .button-twitter {
    width: 290px;

    background-color: #00aced;
    border: none;

    color: white;
    font-weight: 600;
  }

  .button-facebook {
    width: 290px;

    background-color: #3b5998;
    border: none;

    color: white;
    font-weight: 600;
  }
  /* </SOCIAL BUTTONS> */

  @media screen and (max-width: 320px) {
    .sign-in-text, .error-message {
      font-size: 0.9em;
    }
  }
</style>
