<template>
  <div>
    <div class="columns is-centered">
      <div class="column is-narrow has-text-centered newsletter-caption"
      v-if="!isPlanSelect">
        📬 Updates and top gaining portfolios in your inbox
      </div>
    </div>
    <div class="columns is-gapless is-centered is-multiline">
      <div class="column is-5 has-text-centered">
        <div class="form-input-wrapper"
        v-if="!isSaved">
          <input class="input"
          type="email"
          placeholder="Your email"
          v-model="email"/>
          <a class="button button-full subscribe-button"
          @click="onSubscribeButtonClick"
          v-if="!isPlanSelect">
            Subscribe
          </a>
          <a class="button button-full subscribe-button"
          @click="onSubscribeButtonClick"
          v-else>
            Remind Me
          </a>
        </div>
        <div v-else>
          Thanks, you rock! 👊
        </div>
      </div>
      <div class="column is-12 has-text-centered"
      v-show="!isValidEmail && email.length">
        <p>Invalid email</p>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';

export default {
  name: 'NewsletterForm',
  props: {
    isPlanSelect: {
      type: Boolean,
      required: false,
    },
    selectedPlan: {
      type: String,
      required: false,
    },
  },
  data() {
    return {
      email: '',
      isSavingEmail: false,
      isSaved: false,
    };
  },
  computed: {
    isValidEmail() {
      /* TODO: should be on server */
      /* Or maybe send varification email to user after subscription */
      const re = /^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([^<>()[\].,;:\s@"]+\.)+[^<>()[\].,;:\s@"]{2,})$/i;
      return re.test(this.email);
    },
  },
  methods: {
    async onSubscribeButtonClick() {
      if (this.isValidEmail && !this.isSavingEmail) {
        try {
          this.isSaved = true;
          this.isSavingEmail = true;
          let ref = {};
          if (this.isPlanSelect) {
            ref = firebase.firestore().doc(`landing-page-plans/${this.email}`);
            await ref.set({
              timestamp: firebase.firestore.FieldValue.serverTimestamp(),
              selectedPlan: this.selectedPlan,
            });
          } else {
            ref = firebase.firestore().doc(`newsletter-emails/${this.email}`);
            await ref.set({
              timestamp: firebase.firestore.FieldValue.serverTimestamp(),
            });
          }
          this.isSavingEmail = false;
        } catch (e) {
          this.isSavingEmail = false;
        }
      }
    },
  },
};
</script>

<style scoped>
.newsletter-caption {
  font-size: 1.2em;
}

.input {
  border-radius: 3px;
  border: 1px solid #e8e8e8;
}

.form-input-wrapper {
  display: flex;
  align-items: center;
}

.subscribe-button {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .form-input-wrapper {
    padding: 0 120px;
  }
}

@media screen and (max-width: 425px) {
  .form-input-wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .form-input-wrapper {
    padding: 0 5px;
  }
}
</style>
