<template>
<div class="page-section">
  <!-- <nav class="breadcrumb has-dot-separator is-centered"
  aria-label="breadcrumbs">
    <ul>
      <li>
        <a class="breadcrumb-item breadcrumb-item-active">
          1. Anonymous
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          2. Type
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          3. Name
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          4. Coins
        </a>
      </li>
    </ul>
  </nav> -->
  <nav class="breadcrumb has-dot-separator is-centered"
  aria-label="breadcrumbs">
    <ul>
      <li>
        <a class="breadcrumb-item breadcrumb-item-active">
          1. Anonymous
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          2. Name
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          3. Coins
        </a>
      </li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column page-section-title">
      Anonymous Portfolio
    </div>
  </div>

  <div class="columns anonymous-portfolio-wrapper">
    <div class="column is-narrow input-label">
      <label class="checkbox"
      :class="{ 'is-active': isPortfolioAnonymous }">
        <input type="checkbox"
        v-model="isPortfolioAnonymous">
        Anonymous Portfolio
      </label>
    </div>
    <div class="column">
      <article class="message">
        <div class="message-body">
          With anonymous portfolio checked other users won't be able to see who created this portfolio.
        </div>
      </article>
    </div>
  </div>

  <div class="navigation-buttons">
    <!-- <router-link class="button button-full"
    :to="{ name: 'PortfolioNewType' }">
      NEXT
    </router-link> -->
    <router-link class="button button-full"
    :to="{ name: 'PortfolioNewName' }">
      NEXT
    </router-link>
  </div>
</div>
</template>

<script>
export default {
  name: 'PortfolioNewAnonymous',
  computed: {
    isPortfolioAnonymous: {
      get() {
        return this.$store.getters['portfolioNew/getPortfolioAnonymous'];
      },
      set(newValue) {
        this.$store.dispatch('portfolioNew/setPortfolioAnonymous', newValue);
      },
    },
  },
  created() {
    this.$store.dispatch('portfolioNew/resetState');
  },
};
</script>

<style scoped>
.anonymous-portfolio-wrapper {
  align-items: center;
}

.is-active {
  color: #ED473D;
}

.navigation-buttons {
  justify-content: flex-end !important;
}
</style>
