<template>
<div class="page-section">
  <nav class="breadcrumb has-dot-separator is-centered"
  aria-label="breadcrumbs">
    <ul>
      <li>
        <a class="breadcrumb-item">
          1. Anonymous
        </a>
      </li>
      <li>
        <a class="breadcrumb-item breadcrumb-item-active">
          2. Type
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          3. Name
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          4. Coins
        </a>
      </li>
    </ul>
  </nav>


  <div class="columns">
    <div class="column page-section-title">
      Choose Portfolio Type
    </div>
  </div>


  <div class="columns">
    <div class="column portfolio-type">
      <div class="control">
        <label class="radio"
        :class="{ 'is-selected': portfolioType == 0 }">
          <input type="radio" v-model="portfolioType" value="0" checked>
          Regular portfolio
        </label>
      </div>
    </div>
    <div class="column portfolio-type">
      <div class="control">
        <label class="radio"
        :class="{ 'is-selected': portfolioType == 1 }">
          <input type="radio" v-model="portfolioType" value="1">
          Watch only portfolio
        </label>
      </div>
    </div>
  </div>


  <article class="message">
    <div class="message-body">
      <div v-if="portfolioType == 0">
        This is regular portfolio as you might know. You insert how much of each coin you own and people can see your gains.
      </div>
      <div v-if="portfolioType == 1">
        With this portfolio you don't actually own the coins. For example you just want to save all the coins you might invest in, coins you want to research or any other group of coins.
        Others only see percentual gain of such portfolio.
      </div>
    </div>
  </article>

  <hr/>

  <div class="navigation-buttons">
    <router-link class="button button-borders-only"
    :to="{ name: 'PortfolioNewAnonymous' }">
      BACK
    </router-link>
    <router-link class="button button-full"
    :to="{ name: 'PortfolioNewName' }">
      NEXT
    </router-link>
  </div>
</div>
</template>

<script>
export default {
  name: 'PortfolioNewType',
  computed: {
    portfolioType: {
      get() {
        return this.$store.getters['portfolioNew/getPortfolioType'];
      },
      set(newValue) {
        this.$store.dispatch('portfolioNew/setPortfolioType', parseInt(newValue, 10));
      },
    },
    /* portfolioName() {
      if (this.portfolioType === 0) {
        return 'Regular portfolio';
      } else if (this.portfolioType === 1) {
        return 'Watch only portfolio';
      }
    }, */
  },
  beforeRouteLeave(to, from, next) {
    /* if (this.portfolioName.length > 0) {
      to.meta.setPortfolioTitle = true;
    } else {
      to.meta.setPortfolioTitle = false;
    } */
    next();
  },
};
</script>

<style scoped>
.portfolio-type {
  font-weight: 600;
  font-size: 1em;
}

.portfolio-type > .control {
  text-align: center;
}

.is-selected {
  color: #ED473D;
}

@media screen and (max-width: 768px) {
  .portfolio-type > .control {
    text-align: left;
  }
}
</style>
