<template>
<div class="page-section">
  <div v-if="isLoadingPortfolio">
    <div class="columns">
      <div class="column has-text-centered">
        <i class="fa fa-circle-o-notch fa-lg fa-spin"/>
      </div>
    </div>
  </div>

  <div v-else>
    <div class="columns">
      <div class="column is-6">
        <div class="columns is-gapless is-multiline">
          <div class="column is-12 portfolio-name">
            {{ portfolio.name }}
          </div>

          <div class="column is-12 user-profile-link"
          v-if="!portfolio.isAnonymous">
            <router-link :to="{ name: 'ProfileUserInfo', params: { id: portfolio.userId } }">
              @{{ username }}
            </router-link>
          </div>
          <div class="column is-12 user-anonymous"
          v-else>
            Anonymous portfolio
          </div>

          <div class="column is-12 label-text">
            Current Value: <span class="portfolio-value">${{ portfolioValue | parseNumber }}</span>
          </div>
          <div class="column is-12 label-text">
            Change 24h:
            <span class="portfolio-value-change"
            :class="{ decrease: portfolioValuePercentChange < 0 }">
              {{ portfolioValuePercentChange | parsePercent }}
            </span>
          </div>
          <div class="column is-12 label-text">
            Inception Value: <span class="portfolio-value">${{ portfolio.inceptionValue | parseNumber }}</span>
          </div>
          <div class="column is-12 label-text"
          v-if="portfolio.changeSinceInception">
            Change Since Inception:
            <span class="portfolio-value-change"
            :class="{ decrease: portfolio.changeSinceInception < 0 }">
              {{ portfolio.changeSinceInception | parsePercent }}
            </span>
          </div>

          <div class="column is-12 label-text">
            Portfolio Added on {{ inceptionDate }}
          </div>

          <!-- <div class="column is-12 has-text-centered">
            <a class="button upvote-button"
            :class="{ upvoted: hasUpvoted }"
            @click="onUpvoteButtonClick">
              <span class="upvote-icon">
                <i class="fa fa-caret-up fa-lg" aria-hidden="true"/>
              </span>
              {{ upvoteButtonText }}
              <span class="upvote-count">
                {{ upvoteCount }}
              </span>
            </a>
          </div> -->

        </div>
      </div>

      <div class="column is-6 upvote-section">
        <a class="button upvote-button"
        :class="{ upvoted: hasUpvoted }"
        @click="onUpvoteButtonClick">
          <span class="upvote-icon">
            <i class="fa fa-caret-up fa-lg" aria-hidden="true"/>
          </span>
          {{ upvoteButtonText }}
          <span class="upvote-count">
            {{ upvoteCount }}
          </span>
        </a>
      </div>
    </div>

    <div class="columns is-gapless is-multiline"
    v-if="portfolio.note">
      <div class="column is-12 note-title">
        Note from owner
      </div>
      <div class="column is-12 note-body">
        {{ portfolio.note }}
      </div>
    </div>

    <hr/>


    <div class="columns">
      <div class="column is-12">
        <div class="has-text-centered"
        :class="{'not-enough-data-text': !isEnoughHistoricalValuesData}"
        v-if="!isEnoughHistoricalValuesData">
          Not enough data available
          <br/>
          Portfolio must be at least 48 hours old
        </div>
        <div :class="{'not-enough-data-filter': !isEnoughHistoricalValuesData}">
          <LineChartPortfolio
          :data="historicalValuesChartData"
          :options="historicalValuesChartOptions"/>
        </div>
      </div>
    </div>

    <hr/>

    <div class="columns">
      <div class="column is-6 gains-chart">
        <DoughnutChartCoins
        class="chart"
        :data="gainsChartData"
        :options="gainsChartOptions"/>
      </div>

      <div class="column is-6">
        <div class="columns is-multiline coin-list">
          <div class="column is-12"
          v-for="(coin, index) in coinsSortedByGains"
          :key="index">
            <div class="columns is-mobile coin-list-row"
            :style="{ backgroundColor: coinsChartColors.find(c => c.id === coin.id).color }">
              <div class="column coin-list-name">
                {{ coin.name }}
              </div>
              <div class="column coin-list-amount">
                {{ coin.amount | parseNumber }} {{ coin.symbol }}
              </div>
              <div class="column coin-list-amount-mobile">
                {{ coin.amount | parseNumberMobile }} {{ coin.symbol }}
              </div>
              <div class="column coin-list-gain">
                ${{ coin.gain | parseNumber }}
              </div>
              <div class="column coin-list-gain-mobile">
                ${{ coin.gain | parseNumberMobile }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="columns charts">
      <div class="column is-6">
        <DoughnutChartCoins
        class="chart"
        :data="gainsChartData"
        :options="gainsChartOptions"/>
      </div>
    </div> -->

    <hr/>

    <div class="columns">
      <div class="column">
        Discussion
      </div>
    </div>

    <div class="columns is-mobile comment-textarea-wrapper">
      <div class="column has-text-centered"
      v-if="!currentUser">
        <a class="sign-in-link"
        @click="onSignInLinkClick">
          Sign in
        </a>
        to join the discussion
      </div>

      <div class="column is-narrow account-photo"
      v-if="currentUser">
        <figure class="image is-32x32">
          <img :src="currentUser.providerData[0].photoURL">
        </figure>
      </div>
      <div class="column"
      v-if="currentUser">
        <textarea class="textarea comment-textarea"
        placeholder="Your thoughts about this portfolio..."
        rows="1"
        v-model="commentString"
        @input="onCommentTextAreaInput"
        v-auto-size>
        </textarea>
      </div>
    </div>

    <div class="columns"
    v-if="commentString.trim().length || isPostingComment">
      <div class="column">
        <a class="button button-full comment-button"
        @click="onCommentButtonClick">
          <span v-if="isPostingComment">
            <i class="fa fa-circle-o-notch fa-lg fa-spin"/>
          </span>
          <span v-if="!isPostingComment">
            COMMENT
          </span>
        </a>
      </div>
    </div>

    <div class="columns"
    v-if="commentErrorMessage.length">
      <div class="column">
        {{ commentErrorMessage }}
      </div>
    </div>

    <div class="columns is-multiline">
      <div class="column is-12"
      v-for="(comment, index) in portfolioComments"
      :key="index">
        <CommentPortfolio
        :comment="comment.comment"
        :username="comment.username"
        :photoUrl="comment.photoUrl"
        :userId="comment.userId"
        :portfolioId="comment.portfolioId"
        :commentId="comment.commentId"
        :timestamp="comment.timestamp.getTime()"
        @delete="onCommentPortfolioDelete"/>
      </div>
    </div>

  </div>
</div>
</template>

<script>
import AutoSize from '@/directives/AutoSize';
import PortfolioService from '@/mixins/PortfolioService';
import UserService from '@/mixins/UserService';
import PortfolioUpvoteService from '@/mixins/PortfolioUpvoteService';
import PortfolioCommentService from '@/mixins/PortfolioCommentService';
import CoinDataService from '@/mixins/CoinDataService';
import DoughnutChartCoins from '@/components/DoughnutChartCoins';
import LineChartPortfolio from '@/components/LineChartPortfolio';
import CommentPortfolio from '@/components/CommentPortfolio';
import randomColor from 'randomcolor';

export default {
  name: 'PortfolioPage',
  directives: { AutoSize },
  mixins: [
    PortfolioService,
    UserService,
    PortfolioUpvoteService,
    PortfolioCommentService,
    CoinDataService,
  ],
  components: {
    DoughnutChartCoins,
    LineChartPortfolio,
    CommentPortfolio,
  },
  data() {
    return {
      isLoadingPortfolio: true,
      canUseCachedData: false,
      portfolio: null,
      coinsGains: null,
      coinsChartColors: [],
      username: null,
      portfolioValue: null,
      portfolioValuePercentChange: null,
      upvoteCount: 1,
      selectedCoinId: '',
      hasUpvoted: false,
      isLoadingUpvote: false,
      commentString: '',
      portfolioComments: [],
      isPostingComment: false,
      commentErrorMessage: '',
      historicalValues24h: [],
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters['user/getCurrentUser'];
    },
    upvoteButtonText() {
      return this.hasUpvoted ? 'UPVOTED' : 'UPVOTE';
    },
    coinsSortedByGains() {
      // Add amount, symbol and name to each object in sortedGains
      const coins = this.coinsGains.map((cg) => {
        const portfolioCoin = this.portfolio.coins.find(c => c.id === cg.id);
        portfolioCoin.gain = cg.gain;
        return portfolioCoin;
      });
      coins.sort((el1, el2) => el2.gain - el1.gain);
      return coins;
    },
    isEnoughHistoricalValuesData() {
      return this.historicalValues24h.length > 1;
    },
    historicalValuesChartData() {
      if (this.historicalValues24h.length < 2) {
        // Return dummy data because there isn't enough real data
        return {
          datasets: [{
            label: 'Portfolio Value',
            data: [100, 120, 195, 150],
            backgroundColor: 'rgba(0, 0, 0, 0)',
            borderColor: '#FA4B40',
            pointBackgroundColor: '#FFFFFF',
            pointBorderColor: '#5B5B5C',
            pointBorderWidth: 2,
            pointRadius: 5,
          }],
          labels: ['29 Jan', '30 Jan', '31 Jan', '1 Feb'],
        };
      }

      // Return real data
      const dates = this.historicalValues24h.map(hv => new Date(hv.timestamp));
      const labels = dates.map((d) => {
        const month = d.toLocaleString('en-us', { month: 'short' });
        const day = d.getUTCDate();
        return `${day}. ${month}`;
      });
      return {
        datasets: [{
          label: 'Portfolio Value',
          data: this.historicalValues24h.map(hv => hv.value),
          backgroundColor: 'rgba(0, 0, 0, 0)',
          borderColor: '#FA4B40',
          pointBackgroundColor: '#FFFFFF',
          pointBorderColor: '#5B5B5C',
          pointBorderWidth: 2,
          pointRadius: 5,
        }],
        labels,
      };
    },
    historicalValuesChartOptions() {
      return {
        responsive: true,
        maintainAspectRatio: false,
        animation: {
          duration: 0,
        },
        scales: {
          xAxes: [{
            gridLines: {
              color: 'rgba(0, 0, 0, 0)',
            },
          }],
        },
      };
    },
    /* ratioChartOptions() {
      return {
        responsive: true,
        animation: {
          duration: 0,
        },
        title: {
          display: true,
          text: 'Amount per coin',
          fontSize: 23,
        },
        legend: {
          display: false,
        },
      };
    }, */
    gainsChartOptions() {
      return {
        responsive: true,
        animation: {
          duration: 0,
        },
        title: {
          display: true,
          text: 'Gains per coin',
          fontSize: 23,
        },
        legend: {
          display: false,
        },
        onHover: this.onChartHover,
      };
    },
    /* ratioChartData() {
      return {
        datasets: [{
          backgroundColor: this.coinsChartColors.map(c => c.color),
          data: this.portfolio.coins.map(c => parseFloat(c.amount).toFixed(8)),
        }],
        labels: this.portfolio.coins.map(c => c.symbol),
      };
    }, */
    gainsChartData() {
      return {
        datasets: [{
          backgroundColor: this.coinsChartColors.map(c => c.color),
          data: this.coinsGains.map(c => parseFloat(c.gain).toFixed(8)),
        }],
        labels: this.portfolio.coins.map(c => c.symbol),
      };
    },
    inceptionDate() {
      const date = new Date(this.portfolio.timestamp);
      const month = date.getUTCMonth() + 1;
      const day = date.getUTCDate();
      const year = date.getUTCFullYear();

      return `${day}/${month}/${year}`;
    },
  },
  beforeRouteUpdate(to, from, next) {
    // beforeRouteUpdate is called only when same route is updated
    // eg. /foo/1 to /foo/2
    // So we must fetch new data every time, there's nothing to cache
    this.isLoadingPortfolio = true;
    const paramsPortfolioId = to.params.id;
    this.fetchComments(paramsPortfolioId);
    this.fetchPortfolioHistoricalValues(paramsPortfolioId);
    this.fetchPortfolioData(paramsPortfolioId);
    next();
  },
  created() {
    const paramsPortfolioId = this.$router.currentRoute.params.id;
    this.fetchComments(paramsPortfolioId);
    this.fetchPortfolioHistoricalValues(paramsPortfolioId);
    // Bugs when click on PortfolioListItem when not yet loaded
    /* this.preparePortfolioData(paramsPortfolioId); */
    this.fetchPortfolioData(paramsPortfolioId);
  },
  methods: {
    async preparePortfolioData(portfolioId) {
      const cachedPortfolio = this.$store.state.portfolioPage.portfolio;
      const cachedCoinsGains = this.$store.state.portfolioPage.coinsGains;
      const cachedCoinsColors = this.$store.state.portfolioPage.coinsChartColors;
      const cachedPortfolioValue = this.$store.state.portfolioPage.portfolioValue;
      const cachedPortfolioValuePercentChange =
        this.$store.state.portfolioPage.portfolioValuePercentChange;

      if (cachedPortfolio) {
        if (cachedPortfolio.id !== portfolioId) {
          // Fetch portfolio from DB
          this.fetchPortfolioData(portfolioId);
        } else {
          // Can use cached data
          this.portfolio = cachedPortfolio;
          this.coinsGains = cachedCoinsGains;
          this.coinsChartColors = cachedCoinsColors;
          this.portfolioValue = cachedPortfolioValue;
          this.portfolioValuePercentChange = cachedPortfolioValuePercentChange;
          // Always refresh upvote count
          this.upvoteCount = await this.getPortfolioUpvoteCount(portfolioId);
          // Always refresh username
          this.username = await this.getUsername(this.portfolio.userId);
          // Always refresh whether upvoted
          if (this.currentUser) {
            this.hasUpvoted = await this.hasUserUpvotedPortfolio(
              this.portfolio.id,
              this.currentUser.uid,
            );
          }

          this.isLoadingPortfolio = false;
        }
      } else {
        // Fetch portfolio from DB
        this.fetchPortfolioData(portfolioId);
      }
    },

    async fetchPortfolioData(portfolioId) {
      this.portfolio = await this.getPortfolio(portfolioId);
      // Always refresh upvote count
      this.upvoteCount = await this.getPortfolioUpvoteCount(portfolioId);
      // Always refresh username
      this.username = await this.getUsername(this.portfolio.userId);
      if (this.currentUser) {
        this.hasUpvoted = await this.hasUserUpvotedPortfolio(
          this.portfolio.id,
          this.currentUser.uid,
        );
        // Because of the cloud functions delay
        if (this.hasUpvoted && this.upvoteCount === 0) {
          this.upvoteCount = 1;
        }
      }

      const colors = randomColor({ luminosity: 'light', count: this.portfolio.coins.length });
      for (let i = 0; i < this.portfolio.coins.length; i += 1) {
        const coin = this.portfolio.coins[i];
        const color = colors[i];

        this.coinsChartColors.push({
          id: coin.id,
          color,
        });
      }

      const coinIds = this.portfolio.coins.map(coin => coin.id);
      const coinsData = await Promise.all(coinIds.map(id => this.getCoinData(id)));
      const coinsPricesNow = coinsData.map(data => ({
        id: data.id,
        price: parseFloat(data.price),
      }));
      const coinsPercentChanges = coinsData.map(data => ({
        id: data.id,
        percentChange: parseFloat(data.percentChange24h),
      }));

      this.coinsGains = await Promise.all(this.portfolio.coins.map(c => this.getCoinGain(c)));

      let totalValueNow = 0;
      let totalValueBefore = 0;
      this.portfolio.coins.forEach((coin) => {
        const coinId = coin.id;
        const coinAmount = parseFloat(coin.amount);
        const coinPriceNow = parseFloat(coinsPricesNow.find(price => price.id === coinId).price);
        const coinPercentChange = parseFloat(coinsPercentChanges
          .find(change => change.id === coinId).percentChange);

        // Calculate portfolio value
        totalValueNow += coinPriceNow * coinAmount;

        // Calculate portfolio value before
        let coinPriceBefore = 0;
        if (coinPercentChange > 0) {
          // Current coin price is higher than before - increase
          coinPriceBefore = (coinPriceNow / (coinPercentChange + 100)) * 100;
        } else {
          // Current coin price is lower than before - decrease
          coinPriceBefore = -1 * (coinPriceNow / (Math.abs(coinPercentChange) - 100)) * 100;
        }

        totalValueBefore += coinPriceBefore * coinAmount;
      });
      this.portfolioValue = totalValueNow;

      // Calculate portfolio value change
      let totalChange = 0;
      if (totalValueNow > totalValueBefore) {
        // Increase in value
        totalChange = ((totalValueNow - totalValueBefore) / totalValueBefore) * 100;
      } else {
        // Decrease in value
        totalChange = ((totalValueBefore - totalValueNow) / totalValueBefore) * 100;
        totalChange *= -1;
      }
      this.portfolioValuePercentChange = totalChange;

      this.isLoadingPortfolio = false;
    },

    async fetchComments(portfolioId) {
      // Fetch comments right away
      const snapshot = await this.getPortfolioComments(portfolioId, true, {}, 10);
      if (snapshot.docs.length) {
        this.portfolioComments.push(...snapshot.docs.map(d => d.data()));
      }
    },

    async fetchPortfolioHistoricalValues(portfolioId) {
      const snapshot = await this.getPortfolioHistoricalValues24h(portfolioId);
      if (snapshot.docs.length) {
        this.historicalValues24h.push(...snapshot.docs.map(hv => hv.data()));
      }
    },

    onUpvoteButtonClick() {
      if (!this.isLoadingUpvote) {
        this.isLoadingUpvote = true;

        if (this.currentUser) {
          if (this.hasUpvoted) {
            this.upvoteCount -= 1;
            this.hasUpvoted = false;
            this.cancelPortfolioUpvote(this.portfolio.id, this.currentUser.uid)
              .then(this.isLoadingUpvote = false)
              .catch(this.isLoadingUpvote = false);
          } else {
            this.upvoteCount += 1;
            this.hasUpvoted = true;
            this.upvotePortfolio(this.portfolio.id, this.currentUser.uid)
              .then(this.isLoadingUpvote = false)
              .catch(this.isLoadingUpvote = false);
          }
        } else {
          this.isLoadingUpvote = false;
          // Go to sign in page
          this.$store.dispatch('modalSignIn/setModalSignInActive', true);
        }
      }
    },

    onSignInLinkClick() {
      this.$store.dispatch('modalSignIn/setModalSignInActive', true);
    },

    async onCommentButtonClick() {
      if (!this.isPostingComment) {
        const commentStringCopy = this.commentString;
        this.commentString = '';
        this.isPostingComment = true;

        try {
          const username = await this.getUsername(this.currentUser.uid);
          const photoUrl = this.currentUser.providerData[0].photoURL;
          const commentId = await this.postComment(
            this.currentUser.uid,
            username,
            photoUrl,
            this.portfolio.id,
            commentStringCopy,
          );
          // Append just posted comment to the top of the discussion
          this.portfolioComments.unshift({
            userId: this.currentUser.uid,
            username,
            photoUrl,
            portfolioId: this.portfolio.id,
            comment: commentStringCopy,
            timestamp: new Date(),
            commentId,
          });
        } catch (e) {
          this.commentErrorMessage = 'Sorry, something went wrong.';
        } finally {
          this.isPostingComment = false;
        }
      }
    },

    onCommentTextAreaInput() {
      this.commentErrorMessage = '';
    },

    onCommentPortfolioDelete(commentId) {
      this.portfolioComments = this.portfolioComments.filter(c => c.commentId !== commentId);
    },
  },
};
</script>

<style scoped>
/* <LINECHART HISTORICAL VALUES> */
.not-enough-data-text {
  position: relative;
  top: 200px;

  font-weight: 600;
}

.not-enough-data-filter {
  filter: blur(6px) grayscale(0.5);
}
/* </LINECHART HISTORICAL VALUES> */

.user-anonymous {
  font-weight: 600;
}

.user-profile-link {
  color: #FA4B40;
  font-weight: 600;
  font-size: 1.1em;
}

.label-text {
  font-weight: 600;
  font-size: 1.1em;
}

.portfolio-value {
  font-size: 1.1em;
}

/* <UPVOTE> */
.upvote-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upvote-button {
  width: 180px;
  height: 45px;
  letter-spacing: 0.05em;

  border-color: transparent;
  background-color: #FA4B40;

  font-weight: 600;
  font-size: 1.35em;
  color: white;
}

.upvoted {
  border-width: 1.5px;
  border-color: #ED473D;
  background-color: white;

  color: #ED473D;
}

.upvote-icon {
  margin-right: 6px;
  position: relative;
  bottom: 2px;
}

.upvote-count {
  margin-left: 10px;

  font-weight: 600;
  color: rgba(255, 255, 255, 0.65);
}

.upvoted .upvote-count {
  color: rgba(237, 70, 61, 0.65);
}
/* </UPVOTE> */

/* <CHARTS> */
.gains-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts {
  display: flex;
}

.charts > .column {
  display: flex;
  justify-content: center;
}

.chart {
  width: 280px;
  height: 280px;
}
/* </CHARTS> */

/* <COIN LIST> */
.coin-list {
  /* padding: 0 150px; */
}

.coin-list-row {
  margin-bottom: 1px;

  border-radius: 5px;

  font-weight: 600;
  color: #5B5B5C;

  transition: all .24s cubic-bezier(0,.5,.51,1);
}

/* .coin-list-row:hover, .selected {
  transform: scale(1.03);
  box-shadow: 0px 0px 15px 0px #C9C6C6;
} */

.coin-list-amount-mobile, .coin-list-gain-mobile {
  display: none;
}

.coin-list-name, .coin-list-amount, .coin-list-gain {
  text-align: center;
}
/* </COIN LIST> */

.note-title {
  color: #5B5B5C;
  font-weight: 600;
  font-size: 1.2em;
}

/* <COMMENTS> */
.comment-textarea-wrapper {
  display: flex;
  align-items: center;

  border: 1px solid #E8E8E8;
  border-radius: 3px;

  background-color: #F2F2F2;

  font-weight: 600;
}

.comment-textarea {
  overflow: hidden;

  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-shadow: none;
}

.sign-in-link {
  color: #ED473D;
}

.sign-in-link:hover {
  color: #FA4B40;
}

.account-photo img {
  border-radius: 50%;
}

.comment-button {
  width: 130px;
}
/* <COMMENTS> */


@media screen and (max-width: 1024px) {
  .upvote-section {
    justify-content: flex-end;
  }

  .chart {
    width: 200px;
    height: 200px;
  }

  .coin-list {
    /* padding: 0 100px; */
  }
}

@media screen and (max-width: 768px) {
  .upvote-section {
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .charts {
    display: block;
  }

  .coin-list {
    padding: 0;
    font-size: 0.82em;
  }

  .coin-list-amount, .coin-list-gain {
    display: none;
  }

  .coin-list-amount-mobile, .coin-list-gain-mobile {
    display: block;
  }

  .coin-list-name {
    text-align: left;
  }
}
</style>
