<template>
<div>

  <div class="columns is-mobile input-coin-wrapper">
    <div class="column is-2 input-label">
      Coin
    </div>

    <div class="column"
    v-if="!isAutocompleteHidden">
      <InputAutocomplete
      v-click-outside="onAutocompleteClickOutside"
      :inputPlaceholder="inputPlaceholder"
      :suggestions="suggestions"
      :isActive="isAutocompleteActive"
      :isFinished="isSearchFinished"
      @shouldSearch="onAutocompleteShouldSearch"
      @input="onAutocompleteInput"
      @focus="onAutocompleteFocus"
      @selected="onAutocompleteSelected"
      @selectedSuggestionChange="onSelectedSuggestionChange"/>
    </div>

    <div class="column"
    v-if="isAutocompleteHidden">
      <TagCoin
      :name="autocompleteInput"
      :symbol="tagCoinSymbol"
      @delete="onTagCoinDelete"/>
    </div>

    <div class="column is-narrow input-info"
    :class="{ 'highlight': shouldHighlight }"
    v-show="requiredText.length > 0">
      {{ requiredText }}
    </div>
  </div>

  <div v-if="portfolioType == 0">
    <div class="columns is-mobile amount-wrapper">
      <div class="column is-2 input-label">
        Amount
      </div>
      <div class="column">
        <input class="input"
        type="number"
        min="1"
        @blur="onInputCoinAmountBlur"
        v-model="coinAmount"/>
      </div>
      <div class="column is-narrow input-label">
        {{ selectedCoin.symbol }}
      </div>
    </div>

    <div class="columns is-mobile buy-price-wrapper">
      <div class="column is-2 input-label">
        Buy Price
      </div>
      <div class="column">
        <input class="input"
        :class="{ 'read-only-input': showCurrentCoinPrice }"
        type="number"
        min="1"
        @blur="onInputBuyPriceBlur"
        v-model="buyPrice"
        :readonly="showCurrentCoinPrice"/>
      </div>
      <div class="column is-narrow input-label">$</div>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column is-narrow">
      <label class="checkbox"
        :class="{ 'is-active': showCurrentCoinPrice }">
        <input type="checkbox"
        v-model="showCurrentCoinPrice"/>
        Current Price
      </label>
    </div>
  </div>

  <div class="columns is-mobile">
    <div class="column"
    v-if="canRemove">
      <a class="button button-borders-only button-remove-coin"
      @click="onButtonDeleteClick">
        Remove Coin
      </a>
    </div>
  </div>

</div>
</template>

<script>
import debounce from 'lodash.debounce';
import CoinDataService from '@/mixins/CoinDataService';
import InputAutocomplete from '@/components/InputAutocomplete';
import TagCoin from '@/components/TagCoin';
import ClickOutside from '@/directives/ClickOutside';

export default {
  name: 'PortfolioNewListInputCoin',
  mixins: [CoinDataService],
  components: {
    InputAutocomplete,
    TagCoin,
  },
  directives: { ClickOutside },
  props: {
    coinInputKey: {
      type: Number,
      required: true,
    },
    canRemove: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      inputPlaceholder: "e.g. 'Bitcoin' or 'BTC'",
      shouldHighlight: false,
      autocompleteInput: '',
      suggestions: [],
      isAutocompleteHidden: false,
      isAutocompleteActive: false,
      isSearchFinished: false,
      selectedSuggestion: {},
      indexCoins: this.$store.getters['search/getIndexCoins'],
      coinAmount: 1,
      buyPrice: 1,
      showCurrentCoinPrice: false,
    };
  },
  computed: {
    requiredText() {
      if (this.isAutocompleteHidden) {
        if (this.autocompleteInput !== this.selectedSuggestion.name) {
          return '⚠️ UNKNOWN COIN';
        }
        return '✅';
      }
      return 'REQUIRED';
    },
    tagCoinSymbol() {
      if (this.autocompleteInput === this.selectedSuggestion.name) {
        return this.selectedSuggestion.symbol;
      }
      return '';
    },
    selectedCoin() {
      const coinObj = {
        key: this.coinInputKey,
        name: this.selectedSuggestion.name,
        symbol: this.selectedSuggestion.symbol,
        id: this.selectedSuggestion.id,
        amount: parseFloat(this.coinAmount),
        buyPrice: parseFloat(this.buyPrice),
      };

      return coinObj;
    },
    portfolioType() {
      return this.$store.getters['portfolioNew/getPortfolioType'];
    },
    coinsInStore() {
      return this.$store.getters['portfolioNew/getCoins'];
    },
  },
  watch: {
    // When either amount, or buy price changes update saved coin in store
    coinAmount(newValue) {
      const newAmount = parseFloat(newValue);
      if (!Number.isNaN(newAmount)) {
        this.updateCoinInStore();
      }
    },
    buyPrice(newValue) {
      const newPrice = parseFloat(newValue);
      if (!Number.isNaN(newPrice)) {
        this.updateCoinInStore();
      }
    },
    async showCurrentCoinPrice(newValue) {
      if (newValue) {
        if (this.selectedCoin.id) {
          this.buyPrice = await this.getCurrentPrice(this.selectedCoin.id);
        }
      }
    },
  },
  methods: {
    searchCoins: debounce(function algoliaSearch(query) {
      this.indexCoins.search({ query }, (error, content) => {
        if (error) {
          this.isAutocompleteActive = false;
          return;
        }

        this.suggestions = [];
        content.hits.forEach((hit) => {
          this.suggestions.push(hit);
        });
        this.isSearchFinished = true;
      });
    }, 500),
    updateCoinInStore() {
      // Check if the coin is already saved
      if (this.coinsInStore.find(coin => coin.key === this.coinInputKey)) {
        this.$store.dispatch('portfolioNew/updateCoin', { key: this.coinInputKey, updatedCoin: this.selectedCoin });
      }
    },
    onTagCoinDelete() {
      this.$store.dispatch('portfolioNew/removeCoin', this.coinInputKey);
      this.selectedSuggestion = {};
      this.autocompleteInput = '';
      this.isAutocompleteHidden = false;
    },
    onAutocompleteClickOutside() {
      this.shouldHighlight = false;
      this.isAutocompleteActive = false;

      if (this.autocompleteInput.length > 0) {
        this.isAutocompleteHidden = true;
      }
    },
    onAutocompleteShouldSearch(query) {
      if (query.length > 0) {
        this.suggestions = [];
        this.isSearchFinished = false;
        this.isAutocompleteActive = true;
        this.searchCoins(query);
      } else {
        this.isAutocompleteActive = false;
      }
    },
    onAutocompleteInput(inputValue) {
      this.autocompleteInput = inputValue;
      this.showCurrentCoinPrice = false;
    },
    onAutocompleteFocus(inputValue) {
      this.shouldHighlight = true;
      if (inputValue.length > 0) {
        this.isAutocompleteActive = true;
      }
    },
    onAutocompleteSelected() {
      // So an empty tag won't be shown
      if (this.autocompleteInput.length > 0) {
        // Add only if user selected existing coin
        if (this.autocompleteInput === this.selectedSuggestion.name) {
          this.$store.dispatch('portfolioNew/addCoin', this.selectedCoin);
        }
        this.shouldHighlight = false;
        this.isAutocompleteActive = false;
        this.isAutocompleteHidden = true;
      }
    },
    onSelectedSuggestionChange(newSuggestion) {
      this.selectedSuggestion = newSuggestion;
    },
    onButtonDeleteClick() {
      this.$emit('remove', this.coinInputKey);
    },
    onInputCoinAmountBlur() {
      this.coinAmount = this.coinAmount > 0 ? this.coinAmount : 1;
    },
    onInputBuyPriceBlur() {
      this.buyPrice = this.buyPrice > 0 ? this.buyPrice : 1;
    },
  },
};
</script>

<style scoped>
.input-coin-wrapper, .amount-wrapper, .date-wrapper, .buy-price-wrapper {
  display: flex;
  align-items: center;
}

.is-active {
  color: #ED473D;
}

.read-only-input {
  cursor: not-allowed;

  color: #808080;
  border-color: #E6E6E6;
}

.button-remove-coin {
  font-size: 0.9em;
}

@media screen and (max-width: 425px) {
  .date-wrapper {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .button-remove-coin {
    margin-top: 10px;
    font-size: 0.8em;
  }

  .input-label {
    margin-right: 10px;
  }
}
</style>
