<template>
<div class="wrapper">
  <div class="columns is-multiline portfolio-items-wrapper">
    <div class="column is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-quarter-fullhd"
    v-for="(portfolio, index) in portfolios"
    :key="index">
      <PortfolioListItem
      :portfolio="portfolio"/>
    </div>
  </div>

  <infinite-loading @infinite="onInfinite"
  :spinner="spinner">
    <span slot="no-more">
      No more portfolios
    </span>
  </infinite-loading>
</div>
</template>

<script>
import PortfolioListItem from '@/components/PortfolioListItem';
import PortfolioService from '@/mixins/PortfolioService';
import InfiniteLoading from 'vue-infinite-loading';

export default {
  name: 'PortfolioList',
  components: { PortfolioListItem, InfiniteLoading },
  mixins: [PortfolioService],
  props: {
    userId: {
      type: String,
      required: false,
      default: '',
    },
  },
  data() {
    return {
      batchSize: 12,
      lastPortfolioDoc: null,
      portfolios: [],
      spinner: 'waveDots',
    };
  },
  methods: {
    onInfinite($state) {
      const isFirstBatch = !this.lastPortfolioDoc;
      if (!this.userId) {
        this.getPortfolioSnapshots(isFirstBatch, this.lastPortfolioDoc, this.batchSize)
          .then((snapshots) => {
            if (snapshots.docs.length) {
              this.lastPortfolioDoc = snapshots.docs[snapshots.docs.length - 1];
              this.portfolios.push(...snapshots.docs.map(s => s.data()));
              $state.loaded();
            } else {
              $state.complete();
            }
          })
          .catch(() => {
            $state.complete();
          });
      } else {
        // Fetch only portfolios of a user based on userId
        this.getUsersPortfolioSnapshots(
          isFirstBatch,
          this.lastPortfolioDoc,
          this.batchSize,
          this.userId,
        )
          .then((snapshots) => {
            if (snapshots.docs.length) {
              this.lastPortfolioDoc = snapshots.docs[snapshots.docs.length - 1];
              this.portfolios.push(...snapshots.docs.map(s => s.data()));
              $state.loaded();
            } else {
              $state.complete();
            }
          })
          .catch(() => {
            $state.complete();
          });
      }
    },
  },
};
</script>

<style scoped>
.wrapper {
  margin: 10px 0 40px;
  background-color: transparent;
}

.portfolio-items-wrapper {
  display: flex;
}

@media screen and (max-width: 375px) {
  .wrapper {
    margin: 40px 10px;
  }
}
</style>
