<template>
<div class="page-section">
  <!-- <nav class="breadcrumb has-dot-separator is-centered"
  aria-label="breadcrumbs">
    <ul>
      <li>
        <a class="breadcrumb-item">
          1. Anonymous
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          2. Type
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          3. Name
        </a>
      </li>
      <li>
        <a class="breadcrumb-item breadcrumb-item-active">
          4. Coins
        </a>
      </li>
    </ul>
  </nav> -->
  <nav class="breadcrumb has-dot-separator is-centered"
  aria-label="breadcrumbs">
    <ul>
      <li>
        <a class="breadcrumb-item">
          1. Anonymous
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          2. Name
        </a>
      </li>
      <li>
        <a class="breadcrumb-item breadcrumb-item-active">
          3. Coins
        </a>
      </li>
    </ul>
  </nav>


  <div class="columns">
    <div class="column page-section-title">
      {{ portfolioName }}
    </div>
  </div>

  <PortfolioNewListInputCoin class="input-coin"
  v-for="(index) in coinInputIndexes"
  :key="index"
  :coinInputKey="index"
  :canRemove="canRemoveCoinInputs"
  @remove="onPortfolioInputCoinRemove"/>

  <div class="columns">
    <div class="column add-button">
      <a class="button button-full"
      @click="onAddCoinClick">
        Add coin
      </a>
    </div>
  </div>

  <div class="columns is-mobile amount-wrapper total-value">
    <div class="column is-narrow input-label">
      Total Portfolio Value
    </div>
    <div class="column total-value-number">
      ${{ portfolioValue | parseNumberMobile }}
    </div>
  </div>


  <hr/>

  <div class="columns">
    <div class="column has-text-centered error-message"
    v-if="errorMessage.length > 0">
      {{ errorMessage }}
    </div>
  </div>

  <div class="navigation-buttons">
    <router-link class="button button-borders-only"
    :to="{ name: 'PortfolioNewName' }">
      BACK
    </router-link>
    <a class="button button-full"
    :class="{ 'is-loading': isLoading }"
    :disabled="selectedCoins.length == 0"
    @click="onSubmitClick">
      SUBMIT
    </a>
  </div>
</div>
</template>

<script>
import PortfolioNewListInputCoin from '@/components/PortfolioNewListInputCoin';
import PortfolioService from '@/mixins/PortfolioService';
import PortfolioUpvoteService from '@/mixins/PortfolioUpvoteService';
import CoinDataService from '@/mixins/CoinDataService';

export default {
  name: 'PortfolioNewList',
  mixins: [
    PortfolioService,
    PortfolioUpvoteService,
    CoinDataService,
  ],
  components: { PortfolioNewListInputCoin },
  data() {
    return {
      isLoading: false,
      errorMessage: '',
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters['user/getCurrentUser'];
    },
    coinInputIndexes() {
      return this.$store.getters['portfolioNew/getCoinInputIndexes'];
    },
    canRemoveCoinInputs() {
      return this.coinInputIndexes.length > 1;
    },
    portfolioName() {
      return this.$store.getters['portfolioNew/getPortfolioName'];
    },
    selectedCoins() {
      return this.$store.getters['portfolioNew/getCoins'];
    },
    createdPortfolio() {
      return this.$store.getters['portfolioNew/getCreatedPortfolio'];
    },
    portfolioValue() {
      return this.$store.getters['portfolioNew/getPortfolioValue'];
    },
  },
  methods: {
    onPortfolioInputCoinRemove(key) {
      this.$store.dispatch('portfolioNew/removeCoinInputIndex', key);
      this.$store.dispatch('portfolioNew/removeCoin', key);
    },
    onAddCoinClick() {
      this.$store.dispatch('portfolioNew/addNewCoinInputIndex');
    },
    async onSubmitClick() {
      this.errorMessage = '';
      if (!this.isLoading && this.selectedCoins.length > 0) {
        this.isLoading = true;

        try {
          // Calculate portfolio value
          let currentPortfolioValue = 0;
          await Promise.all(this.createdPortfolio.coins.map(async (coin) => {
            const coinId = coin.id;
            const coinAmount = parseFloat(coin.amount);
            const coinPriceNow = await this.getCurrentPrice(coinId);
            coin.lastPrice = coinPriceNow;
            currentPortfolioValue += coinPriceNow * coinAmount;
          }));
          const createdPortfolioId = await this.writePortfolio(
            this.createdPortfolio,
            this.currentUser.uid,
            currentPortfolioValue,
          );

          // Newly created portfolio is implicitly upvoted by the creator
          await this.upvotePortfolio(createdPortfolioId, this.currentUser.uid);
          this.isLoading = false;

          this.$router.push({ name: 'PortfolioPage', params: { id: createdPortfolioId } });
        } catch (e) {
          console.log(e);
          this.isLoading = false;
          this.errorMessage = 'Sorry, something went wrong.';
        }
      }
    },
  },
};
</script>

<style scoped>
.input-coin {
  margin-bottom: 20px;
}

.add-button {
  display: flex;
  justify-content: flex-end;
}

.total-value {
  display: flex;
  align-items:center;
}

.total-value-number {
  color: #34BA1C;
  font-weight: 600;
}

.error-message {
  font-weight: 600;
}
</style>
