<template>
<div class="card"
@click="goToPortfolio">
  <div class="card-header">
    <div class="card-header-title">
      <div class="columns is-multiline portfolio-name">
        <div class="column is-12 has-text-left">
          {{ portfolioNameShortened }}
        </div>
        <div class="column is-12 has-text-left owner-username">
          <span class="owner-anonymous"
          v-if="portfolio.isAnonymous">
            Anonymous Portfolio
          </span>
          <span v-else>
            @{{ ownerUsername }}
          </span>
        </div>
      </div>
      <div class="columns is-mobile is-gapless portfolio-subheader">
        <div class="column is-6">
          <div class="columns is-gapless is-multiline">
            <div v-if="isPortfolioInfoReady">
              <div class="column is-12 portfolio-value">
                ${{ portfolioValue | parseNumberMobile }}
              </div>
              <div class="column is-12 portfolio-value-change"
              v-if="portfolio.changeSinceInception"
                :class="{ decrease: portfolio.changeSinceInception < 0 }">
                Total: {{ portfolio.changeSinceInception | parsePercent }}
              </div>
              <div class="column is-12 portfolio-value-change"
              v-else>
                Just Created
              </div>
              <div class="is-12 portfolio-value-change"
              :class="{ decrease: portfolioValueChange24h < 0 }">
                24h: {{ portfolioValueChange24h | parsePercent }}
              </div>
              <div class="column is-12">
                {{ portfolio.coins.length }} {{ portfolioCoinsCountString }}
              </div>
            </div>
          </div>
        </div>

        <div class="column is-6">
          <DoughnutChartCoins
          class="chart"
          v-if="coinsGains.length"
          :data="coinChartData"
          :options="coinChartOptions"/>
        </div>
      </div>
    </div>
  </div>

  <div class="card-content">
    <hr/>

    <div class="columns is-mobile"
    v-if="isUpvoteCountReady">
      <div class="column has-text-centered upvotes">
        <i class="fa fa-caret-up fa-lg upvote-icon"/>
        <span>{{ upvoteCount }}</span>
      </div>
      <div class="column has-text-centered comments">
        <i class="fa fa-commenting-o fa-lg comment-icon"/>
        <span>{{ commentCount }}</span>
      </div>
    </div>

    <hr/>

    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="columns is-mobile preview-coin"
        :style="{ backgroundColor: previewCoinColor }"
        v-if="isPortfolioInfoReady">
          <div class="column has-text-centered">
            {{ previewCoin.amount | parseNumber }} {{ previewCoin.symbol }}
          </div>
          <div class="column has-text-centered">
            ${{ previewCoinGain | parseNumber }}
          </div>
        </div>
      </div>

      <div class="column is-12 has-text-centered cta-text">
        Show full portfolio
      </div>
    </div>

  </div>
</div>
</template>

<script>
import CoinDataService from '@/mixins/CoinDataService';
import PortfolioService from '@/mixins/PortfolioService';
import PortfolioUpvoteService from '@/mixins/PortfolioUpvoteService';
import PortfolioCommentService from '@/mixins/PortfolioCommentService';
import UserService from '@/mixins/UserService';
import DoughnutChartCoins from '@/components/DoughnutChartCoins';
import randomColor from 'randomcolor';

export default {
  name: 'PortfolioListItem',
  mixins: [
    CoinDataService,
    PortfolioService,
    PortfolioUpvoteService,
    PortfolioCommentService,
    UserService,
  ],
  components: { DoughnutChartCoins },
  props: {
    portfolio: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isPortfolioInfoReady: false,
      isUpvoteCountReady: false,
      coinsPercentChanges: [],
      coinsPricesNow: [],
      coinsGains: [],
      portfolioValue: 0,
      portfolioValueChange24h: 0, // Might not be useful anymore
      upvoteCount: 0,
      commentCount: 0,
      ownerUsername: '',
    };
  },
  computed: {
    portfolioNameShortened() {
      const { name } = this.portfolio;
      const max = 28;

      return name.length > max ? `${name.substr(0, max - 1)}…` : name;
    },
    previewCoin() {
      const highestGainCoinId = this.coinsGains
        .reduce((el1, el2) => (el1.gain > el2.gain ? el1 : el2)).id;

      return this.portfolio.coins.find(c => c.id === highestGainCoinId);
    },
    previewCoinGain() {
      const price = Number(this.coinsPricesNow.find(cp => cp.id === this.previewCoin.id).price);
      const amount = Number(this.previewCoin.amount);
      const gain = price * amount;
      return gain;
    },
    previewCoinColor() {
      return this.coinChartColors.find(col => col.id === this.previewCoin.id).color;
    },
    portfolioCoinsCountString() {
      return this.portfolio.coins.length > 1 ? 'coins' : 'coin';
    },
    coinChartColors() {
      const colors = randomColor({ luminosity: 'light', count: this.portfolio.coins.length });

      const coinColorsObj = [];
      for (let i = 0; i < this.portfolio.coins.length; i += 1) {
        const coin = this.portfolio.coins[i];
        const color = colors[i];

        coinColorsObj.push({
          id: coin.id,
          color,
        });
      }

      return coinColorsObj;
    },
    coinChartData() {
      return {
        datasets: [{
          backgroundColor: this.coinChartColors.map(c => c.color),
          data: this.coinsGains.map(g => g.gain),
        }],
      };
    },
    coinChartOptions() {
      return {
        responsive: true,
        events: [],
        animation: {
          duration: 0,
        },
      };
    },
  },
  async created() {
    this.upvoteCount = await this.getPortfolioUpvoteCount(this.portfolio.id);
    this.commentCount = await this.getPortfolioCommentCount(this.portfolio.id);
    this.isUpvoteCountReady = true;
    this.ownerUsername = await this.getUsername(this.portfolio.userId);

    const coinIds = this.portfolio.coins.map(coin => coin.id);
    const coinsData = await Promise.all(coinIds.map(id => this.getCoinData(id)));

    this.coinsPricesNow = coinsData.map(data => ({
      id: data.id,
      price: parseFloat(data.price),
    }));
    this.coinsPercentChanges = coinsData.map(data => ({
      id: data.id,
      percentChange: parseFloat(data.percentChange24h),
    }));
    this.coinsGains = await Promise.all(this.portfolio.coins.map(c => this.getCoinGain(c)));

    let totalValueNow = 0;
    let totalValueBefore = 0;
    this.portfolio.coins.forEach((coin) => {
      const coinId = coin.id;
      const coinAmount = parseFloat(coin.amount);
      const coinPriceNow = parseFloat(this.coinsPricesNow.find(price => price.id === coinId).price);
      const coinPercentChange = parseFloat(this.coinsPercentChanges
        .find(change => change.id === coinId).percentChange);

      // Calculate portfolio value
      totalValueNow += coinPriceNow * coinAmount;

      // Calculate portfolio value before
      let coinPriceBefore = 0;
      if (coinPercentChange > 0) {
        // Current coin price is higher than before - increase
        coinPriceBefore = (coinPriceNow / (coinPercentChange + 100)) * 100;
      } else {
        // Current coin price is lower than before - decrease
        coinPriceBefore = -1 * (coinPriceNow / (Math.abs(coinPercentChange) - 100)) * 100;
      }

      totalValueBefore += coinPriceBefore * coinAmount;
    });
    this.portfolioValue = totalValueNow;

    // Calculate portfolio value change
    let totalChange = 0;
    if (totalValueNow > totalValueBefore) {
      // Increase in value
      totalChange = ((totalValueNow - totalValueBefore) / totalValueBefore) * 100;
    } else {
      // Decrease in value
      totalChange = ((totalValueBefore - totalValueNow) / totalValueBefore) * 100;
      totalChange *= -1;
    }
    this.portfolioValueChange24h = totalChange;

    this.isPortfolioInfoReady = true;
  },
  methods: {
    goToPortfolio() {
      this.$store.dispatch('portfolioPage/setPortfolio', this.portfolio);
      this.$store.dispatch('portfolioPage/setCoinsGains', this.coinsGains);
      this.$store.dispatch('portfolioPage/setCoinsChartColors', this.coinChartColors);
      this.$store.dispatch('portfolioPage/setPortfolioValue', this.portfolioValue);
      this.$store.dispatch('portfolioPage/setPortfolioValuePercentChange24h', this.portfolioValueChange24h);

      this.$router.push({ name: 'PortfolioPage', params: { id: this.portfolio.id } });
    },
  },
};
</script>

<style scoped>
.card {
  box-shadow: 0px 0px 25px 0px #C9C6C6;
  border-radius: 10px;

  color: #8B8FA1;

  transition: all .24s cubic-bezier(0,.5,.51,1);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.015);
}

.card-header {
  box-shadow: none;
  padding-left: 15px;
  padding-right: 15px;
}

.card-header-title {
  flex-direction: column;
}

.card-header-title .columns {
  width: 100%
}

.card-header-title .column {
  padding: 5px 0 0;
}

.portfolio-name {
  margin: 0;

  font-size: 1.1em;
}

.owner-username {
  color: #ED473D;
}

.owner-anonymous {
  color: #8B8FA1;
  font-size: 0.9em;
}

.portfolio-subheader {
  align-items: center;
}

.card-content {
  margin-top: 0;
  padding-top: 0;
}

.upvotes, .comments {
  font-weight: 600;
  font-size: 1.1em;
}

.upvote-icon, .comment-icon {
  position: relative;
  bottom: 1px;
  right: 2px;
}

.preview-coin {
  border-radius: 5px;
  font-weight: 600;
  color: #5B5B5C;
}

.cta-text {
  font-weight: 600;
}

/* Specific height & width for chart because of weird animation  */
/* if those two properties are not specified */
.chart {
  width: 132px;
  height: 132px;
}

@media screen and (max-width: 1024px) {
  .chart {
    width: 125px;
    height: 125px;
  }
}

@media screen and (max-width: 768px) {
  .chart {
    width: 165px;
    height: 165px;
  }
}

@media screen and (max-width: 425px) {
  .chart {
    width: 186px;
    height: 186px;
  }
}

@media screen and (max-width: 375px) {
  .chart {
    width: 151px;
    height: 151px;
  }
}

@media screen and (max-width: 320px) {
  .chart {
    width: 123px;
    height: 123px;
  }
}
</style>
