<template>
<div class="page-section">
  <!-- <nav class="breadcrumb has-dot-separator is-centered"
  aria-label="breadcrumbs">
    <ul>
      <li>
        <a class="breadcrumb-item">
          1. Anonymous
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          2. Type
        </a>
      </li>
      <li>
        <a class="breadcrumb-item breadcrumb-item-active">
          3. Name
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          4. Coins
        </a>
      </li>
    </ul>
  </nav> -->

  <nav class="breadcrumb has-dot-separator is-centered"
  aria-label="breadcrumbs">
    <ul>
      <li>
        <a class="breadcrumb-item">
          1. Anonymous
        </a>
      </li>
      <li>
        <a class="breadcrumb-item breadcrumb-item-active">
          2. Name
        </a>
      </li>
      <li>
        <a class="breadcrumb-item">
          3. Coins
        </a>
      </li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column page-section-title">
      Name Your New Portfolio
    </div>
  </div>

  <div class="columns is-mobile portfolio-title-wrapper">
    <div class="column is-2 input-label">
      Title
    </div>

    <div class="column">
      <input class="input"
      type="text"
      placeholder="My mooning altcoins 🛸"
      :maxlength="maxNameLength"
      v-model="portfolioName"
      @focus="onInputFocus"
      @blur="onInputBlur">
    </div>

    <div class="column is-narrow input-info"
    :class="{ 'highlight': shouldHighlight }">
      {{ requiredText }}
    </div>
  </div>

  <div class="columns is-mobile">
    <div class="column is-2 input-label">
      Note
      <div class="is-1 input-label message-length-mobile">
        <span v-show="portfolioNote.length > maxNoteLength">⚠️</span>
        {{ portfolioNoteLength }}/{{ maxNoteLength }}
      </div>
    </div>
    <div class="column">
      <textarea class="textarea"
      v-model="portfolioNote"
      placeholder="Optional note you'd like to post with your portfolio"
      :maxlength="maxNoteLength"/>
    </div>

    <div class="column is-1 input-info message-length-desktop">
      <span v-show="portfolioNote.length > maxNoteLength">⚠️</span>
      {{ portfolioNoteLength }}/{{ maxNoteLength }}
    </div>
  </div>

  <hr/>

  <div class="navigation-buttons">
    <!-- <router-link class="button button-borders-only"
    :to="{ name: 'PortfolioNewType' }">
      BACK
    </router-link> -->
    <router-link class="button button-borders-only"
    :to="{ name: 'PortfolioNewAnonymous' }">
      BACK
    </router-link>
    <router-link class="button button-full"
    :to="{ name: 'PortfolioNewList' }"
    :disabled="!canGoNext">
      NEXT
    </router-link>
  </div>
</div>
</template>

<script>
export default {
  name: 'PortfolioNewName',
  data() {
    return {
      shouldHighlight: false,
      maxNameLength: 50,
      maxNoteLength: 100,
    };
  },
  computed: {
    portfolioName: {
      get() {
        return this.$store.getters['portfolioNew/getPortfolioName'];
      },
      set(newValue) {
        this.$store.dispatch('portfolioNew/setPortfolioName', newValue.substring(0, this.maxNameLength));
      },
    },
    portfolioNote: {
      get() {
        return this.$store.getters['portfolioNew/getPortfolioNote'];
      },
      set(newValue) {
        this.$store.dispatch('portfolioNew/setPortfolioNote', newValue.substring(0, this.maxNoteLength));
      },
    },
    portfolioNoteLength() {
      return this.portfolioNote.length;
    },
    requiredText() {
      return this.portfolioName.length > 0 ? '✅' : 'REQUIRED';
    },
    canGoNext() {
      return this.portfolioName.length > 0 && this.portfolioNote.length <= this.maxNoteLength;
    },
  },
  watch: {
    portfolioName(newValue) {
      if (newValue.length > 0) {
        this.$route.meta.isPortfolioTitleSet = true;
      } else {
        this.$route.meta.isPortfolioTitleSet = false;
      }
    },
  },
  methods: {
    onInputFocus() {
      this.shouldHighlight = true;
    },
    onInputBlur() {
      this.shouldHighlight = false;
    },
  },
};
</script>

<style scoped>
.portfolio-title-wrapper {
  align-items: center;
}

.message-length-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .input-with-title-wrapper {
    flex-basis: 80%;
  }

  .input-info {
    flex-basis: 20%;
  }

  .message-length-mobile {
    display: block;
  }

  .message-length-desktop {
    display: none;
  }
}
</style>
