<template>
<div v-if="user.userId">
  <PortfolioList
  :userId="user.userId"/>
</div>
</template>

<script>
import PortfolioList from '@/components/PortfolioList';

export default {
  name: 'ProfileUserPortfolios',
  components: { PortfolioList },
  computed: {
    user() {
      return this.$store.getters['user/getUser'];
    },
  },
};
</script>

<style scoped>

</style>
