<template>
<div class="wrapper container">
  <hr class="divider"/>


  <div class="page-section">
    <div class="columns">
      <div class="page-section-title column">
        My Details
      </div>
    </div>

    <div class="columns">
      <div class="column username-column">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Username</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input"
                type="text"
                v-model="newUsername"
                @input="onUsernameInput"
                @blur="onUsernameInputBlur">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column email-column">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Email</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input"
                type="email"
                v-model="newEmail"
                @input="onEmailInput"
                @blur="onEmailInputBlur">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="columns">
      <div class="column update-column">
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="columns">
              <div class="column is-narrow">
                <button class="button update-button"
                @click="updateUserData"
                :disabled="isUpdateButtonDisabled">
                  Update
                </button>
              </div>
              <div class="column is-narrow saving-text"
              v-if="shouldDisplaySavingText">
                {{ savingText }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</template>

<script>
import UserService from '@/mixins/UserService';

export default {
  name: 'ProfileUserSettings',
  mixins: [UserService],
  data() {
    return {
      newUsername: this.$store.state.user.user.username,
      newEmail: this.$store.state.user.user.email,
      isUpdateButtonDisabled: false,
      shouldDisplaySavingText: false,
      savingText: '',
    };
  },
  computed: {
    userId() {
      return this.$store.getters['user/getUser'].userId;
    },
    username() {
      return this.$store.getters['user/getUser'].username;
    },
    email() {
      return this.$store.getters['user/getUser'].email;
    },
  },
  methods: {
    async updateUserData() {
      this.savingText = 'Saving...💾';
      this.shouldDisplaySavingText = true;
      this.isUpdateButtonDisabled = true;

      if (
        (this.username === this.newUsername
        || this.newUsername === ''
        || !this.newUsername)
        &&
        (this.email === this.newEmail
        || this.newEmail === ''
        || !this.newEmail)
      ) {
        this.savingText = 'Saved ✅';
        this.isUpdateButtonDisabled = false;
      } else {
        try {
          if (this.username !== this.newUsername) {
            // Update username
            const isAvailable = await this.checkIfUsernameAvailable(this.newUsername);
            if (isAvailable) {
              await this.updateUsername(this.userId, this.username, this.newUsername);
              this.savingText = 'Saved ✅';
            } else {
              this.savingText = 'That username is already taken ⚠️';
            }
          }

          if (this.email !== this.newEmail) {
            await this.updateUserEmail(this.userId, this.newEmail);
            this.savingText = 'Saved ✅';
          }

          this.isUpdateButtonDisabled = false;
        } catch (e) {
          this.isUpdateButtonDisabled = false;
          this.savingText = 'Something went wrong! ⚠️';
        }
      }
    },
    onUsernameInput() {
      this.savingText = '';
    },
    onEmailInput() {
      this.savingText = '';
    },
    onUsernameInputBlur() {
      if (!this.newUsername || !this.newUsername.length) {
        this.newUsername = this.username;
      }
    },
    onEmailInputBlur() {
      if (!this.newEmail || !this.newEmail.length) {
        this.newEmail = this.email;
      }
    },
  },
};
</script>

<style scoped>
.wrapper {
  padding: 0 20px;
}

.divider {
  display: none;
}


.label {
  color: #5B5B5C;
}

.update-button {
  border: none;
  border-radius: 4px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);

  font-weight: 400;
  font-size: 1.1em;

  color: white;
  background-color: #ED473D;

  transition: all .2s ease;
}

.update-button:active {
  transform: translateY(3px);
}

.saving-text {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 10px;
  }

  .divider {
    display: block;
  }
}
</style>
