<template>
<div class="wrapper container">
  <div class="columns is-mobile">
    <div class="account-photo column is-narrow">
      <figure class="image is-32x32">
        <img :src="user.photoUrl">
      </figure>
    </div>
    <div class="username column is-narrow has-text-centered">
      @{{ user.username }}
    </div>
  </div>

  <hr/>

  <div class="columns">
    <div class="column is-narrow">
      <div class="page-section-title">
        Last Upvote
      </div>
      <div class="columns is-multiline">
        <div class="column"
        v-for="(portfolio, index) in portfolios"
        :key="index">
          <PortfolioListItem
          :portfolio="portfolio"/>
        </div>
        <div class="column"
        v-if="!portfolios.length && !isFetchingData">
          This user hasn't upvoted any portfolio yet.
        </div>
      </div>
    </div>

    <div class="column">
      <!-- Empty space for an alignment -->
    </div>

    <div class="column is-6">
      <div class="page-section-title">
        Last Comment
      </div>
      <div class="columns is-multiline">
          <div class="column is-12"
          v-for="(comment, index) in comments"
          :key="index"
          @click="onCommentClick(comment)">
            <CommentPortfolio class="comment"
            :comment="comment.comment"
            :username="comment.username"
            :photoUrl="comment.photoUrl"
            :userId="comment.userId"
            :portfolioId="comment.portfolioId"
            :commentId="comment.commentId"
            :timestamp="comment.timestamp.getTime()"
            :isPreview="true"/>
          </div>
          <div class="column"
          v-if="!comments.length && !isFetchingData">
            This user hasn't commented any portfolio yet.
          </div>
        </div>

    </div>
  </div>

</div>
</template>

<script>
import PortfolioService from '@/mixins/PortfolioService';
import PortfolioCommentService from '@/mixins/PortfolioCommentService';
import PortfolioListItem from '@/components/PortfolioListItem';
import CommentPortfolio from '@/components/CommentPortfolio';

export default {
  name: 'ProfileUserInfo',
  mixins: [
    PortfolioService,
    PortfolioCommentService,
  ],
  components: {
    PortfolioListItem,
    CommentPortfolio,
  },
  data() {
    return {
      isFetchingData: true,
      portfolios: [],
      portfoliosCount: 1,
      comments: [],
      commentsCount: 1,
    };
  },
  computed: {
    user() {
      return this.$store.getters['user/getUser'];
    },
  },
  beforeRouteUpdate(to, from, next) {
    this.fetchData();
    next();
  },
  created() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      try {
        this.portfolios = await this.getLastPortfoliosUpvotedByUser(
          this.user.userId,
          this.portfoliosCount,
        );

        this.comments = await this.getLastPortfolioCommentsByUser(
          this.user.userId,
          this.commentsCount,
        );
      } catch (e) {
        /* Continue */
      }

      this.isFetchingData = false;
    },
    onCommentClick(comment) {
      this.$router.push({ name: 'PortfolioPage', params: { id: comment.portfolioId } });
    },
  },
};
</script>

<style scoped>
.wrapper {
  padding: 0 20px;
}

.divider {
  display: none;
}

.account-photo {
  display: flex;
  align-items: center;
}

.account-photo img {
  border-radius: 50%;
}

.username {
  color: #5B5B5C;
  font-weight: 600;
  font-size: 1.5em;
}

.comment {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 10px;

  box-shadow: 0px 0px 25px 0px #C9C6C6;
  border-radius: 10px;

  background-color: white;

  transition: all .24s cubic-bezier(0,.5,.51,1);
}

.comment:hover {
  cursor: pointer;
  transform: scale(1.015);
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 10px;
  }
}
</style>
