<template>
<div class="wrapper">
  <div class="profile-tabs columns is-centered">
    <div :class="[baseProfileTabClass, (activeTab==='ProfileUserInfo') ? 'is-active' : '']">
      <router-link :to="{ name: 'ProfileUserInfo', params: { id: this.paramsUserId} }">
        <i class="fa fa-user-o"
        aria-hidden="true"/>
        User Info
      </router-link>
    </div>
    <div :class="[baseProfileTabClass, (activeTab==='ProfileUserPortfolios') ? 'is-active' : '']">
      <router-link :to="{ name: 'ProfileUserPortfolios', params: { id: this.paramsUserId} }">
        <i class="fa fa-pie-chart"
        aria-hidden="true"/>
        Crypto Portfolios
      </router-link>
    </div>
    <div :class="[baseProfileTabClass, (activeTab==='ProfileUserSettings') ? 'is-active' : '']"
    v-if="currentUser && currentUser.uid === paramsUserId">
      <router-link :to="{ name: 'ProfileUserSettings', params: { id: this.paramsUserId} }">
        <i class="fa fa-cog"
        aria-hidden="true"/>
        Account Settings
      </router-link>
    </div>
  </div>

  <div class="container">
    {{ errorMessage }}
  </div>

  <div class="container">
    <router-view v-if="user"/>
  </div>
</div>
</template>

<script>
export default {
  name: 'ProfileUser',
  data() {
    return {
      activeTab: '',
      paramsUserId: '',
      errorMessage: '',
      baseProfileTabClass: {
        column: true,
        'is-narrow': true,
        'tab-item': true,
      },
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters['user/getCurrentUser'];
    },
    user() {
      return this.$store.getters['user/getUser'];
    },
  },
  // Vue.js re-uses components, this ensures data update
  beforeRouteUpdate(to, from, next) {
    this.prepareComponent(to.params.id, to.name);
    next();
  },
  created() {
    this.prepareComponent(this.$router.currentRoute.params.id, this.$router.currentRoute.name);
  },
  methods: {
    prepareComponent(userId, activeTab) {
      this.errorMessage = '';
      this.paramsUserId = userId;
      this.activeTab = activeTab;
      this.$store.dispatch('user/setUser', this.paramsUserId)
        .then()
        .catch(() => {
          this.errorMessage = 'Sorry, something went wrong.';
        });
    },
  },
};
</script>

<style scoped>
.profile-tabs {
  padding: 20px 20px 0;

  box-shadow: 0 4px 10px -2px rgba(0,0,0,0.05);
  background-color: white;

  text-align: center;
  color: #8B8FA1;
  font-weight: 900;
  font-size: 1.1em;
}

.tab-item {
  margin: 0 20px;
}

.is-active {
  color: #ED473D;
}

@media screen and (max-width: 768px) {
  .profile-tabs {
    box-shadow: none;
    text-align: left;
  }
}
</style>
