<template>
  <span class="tag is-medium is-rounded">
    <div class="inner">
      <span :class="['cc', symbol]"> {{ name }}</span>
    </div>
    <button class="delete is-small"
    @click="onClick"/>
  </span>
</template>

<script>
export default {
  name: 'TagCoin',
  props: {
    name: {
      type: String,
      required: true,
    },
    symbol: {
      type: String,
      required: false,
      default: '',
    },
  },
  methods: {
    onClick() {
      this.$emit('delete');
    },
  },
};
</script>

<style scoped>
.inner {
  margin-right: 5px;

  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .inner {
    font-size: 0.85em;
  }
}
</style>
