<template>
  <div id="app">
    <div :class="{'blured-background': isModalSignInActive}">
      <AppNavigation/>
      <router-view/>
    </div>

    <ModalSignIn
    v-if="isModalSignInActive"
    @close="closeModalSignIn"
    title="Sign In to Join Community of Hodlers!"
    subtitle="Discover and share current best cryptocurrency portfolios 🤑"/>
  </div>
</template>

<script>
import firebase from 'firebase';
import AppNavigation from '@/components/AppNavigation';
import ModalSignIn from '@/components/ModalSignIn';
import UserService from '@/mixins/UserService';

export default {
  name: 'app',
  mixins: [UserService],
  components: { AppNavigation, ModalSignIn },
  created() {
    // Once the session starts update user info for the existing current user
    firebase.auth().onAuthStateChanged(async (user) => {
      if (user) {
        this.setCurrentUser();
        try {
          let { photoUrl } = user.providerData[0];
          if (user.providerData[0].providerId === 'twitter.com') {
            const photoExtension = user.providerData[0].photoURL.substring(
              user.providerData[0].photoURL.lastIndexOf('.'),
              user.providerData[0].photoURL.length,
            );
            photoUrl = `${user.providerData[0].photoURL.substring(
              0,
              user.providerData[0].photoURL.lastIndexOf('_'),
            )}_bigger${photoExtension}`;
          }
          const { email } = user.providerData[0];

          await this.updateUserData(user.uid, email, photoUrl);
        } catch (e) {
          /* Continue */
        }
      } else {
        this.unsetCurrentUser();
      }
    });
  },
  computed: {
    isModalSignInActive() {
      return this.$store.getters['modalSignIn/getIsModalSignInActive'];
    },
  },
  watch: {
    isModalSignInActive(newValue) {
      const body = document.querySelector('body');
      // Fix input caret bug in modal for iOS < 11.3
      if (newValue === true) {
        // Modal is opened
        body.style.position = 'fixed';
      } else {
        body.style.position = 'static';
      }
    },
  },
  methods: {
    setCurrentUser() {
      this.$store.dispatch('user/setCurrentUser');
    },
    unsetCurrentUser() {
      this.$store.dispatch('user/unsetCurrentUser');
    },
    closeModalSignIn() {
      this.$store.dispatch('modalSignIn/setModalSignInActive', false);
    },
  },
};
</script>

<style>
@import '../node_modules/bulma/css/bulma.css';
@import 'assets/fonts/cryptocoins.css';
@import 'assets/fonts/cryptocoins-colors.css';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* @import url('https://fonts.googleapis.com/css?family=Nunito:400,900&subset=latin-ext'); */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext'); */

body, html {
  background-color: #F9F9F9;
  height: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blured-background {
  filter: blur(20px) grayscale(0.5);
}

/* <PAGE-SECTIONS> */
.page-section {
  max-width: 80%;
  margin: 45px auto;
  padding: 25px 40px;

  color: #8B8FA1;

  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 11px 8px rgba(0, 0, 0, 0.03);
}

.page-section-title {
  font-weight: 600;
  font-size: 1.5em;
  color: #5B5B5C;
}
/* </PAGE-SECTIONS> */

/* <BREADCRUMBS> */
.breadcrumb-item {
  cursor: default !important;

  font-weight: 600;
  font-size: 1.1em;
  color: #8B8FA1 !important;
}

.breadcrumb-item-active {
  color: #5B5B5C !important;
}
/* </BREADCRUMBS> */

/* <LINKS> */
a {
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: #ED473D;
}
/* </LINKS> */

/* <SELECTS> */
select:hover {
  border-color: #ED473D !important;
}
/* </SELECTS> */

/* <INPUTS> */
.input {
  border: 0;
  border-bottom: 1px solid rgba(139, 143, 161, 0.301);
  border-radius: 0;

  outline: 0;
  box-shadow: none;

  color: #5B5B5C;
  font-weight: 600;
}

.input:focus {
  border: 0;
  border-bottom: 1px solid #ED473D;

  outline: 0;
  box-shadow: none;
}

.input-label {
  font-weight: 600;
  font-size: 1em;
}

.input-info {
  font-weight: 400;
  font-size: 0.85em;
}
/* </INPUTS> */

/* <TEXTAREAS> */
.textarea {
  font-size: 1em;
}

.textarea:focus {
  border-color:#ED473D;
  box-shadow: none;
}
/* <TEXTAREAS> */

/* <RADIOS> */
.radio {
  font-size: 1em;
}

.radio:hover {
  color: #5B5B5C;
}
/* </RADIOS> */

/* <BUTTONS> */
.button {
  font-weight: 400;
  font-size: 1.1em;

  transition: all .1s ease;
}

.button:not([disabled]):hover {
  cursor: pointer;
}

.button:focus {
  box-shadow: none !important;
}

.button:not([disabled]):active {
  transform: translateY(3px);
}

.button-full {
  border: none;
  border-radius: 4px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);

  color: white;
  background-color: #ED473D !important;
}

.button-full[disabled]:focus {
  color: white;
}

.button-full[disabled]:hover {
  color: white;
}

.button-full:not([disabled]):hover {
  color: white;
  background-color: #FA4B40 !important;
}

.button-full:active {
  color: white;
}

.button-borders-only {
  border-color: #ED473D;
  border-radius: 4px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);

  color: #ED473D;
}

.button-borders-only[disabled]:focus {
  color: #ED473D;
}

.button-borders-only[disabled]:hover {
  color: #ED473D;
}

.button-borders-only:not([disabled]):hover {
  border-color: transparent !important;
  color: white !important;
  background-color: #FA4B40 !important;
}

.button-borders-only:active {
  color: #ED473D;
}


.navigation-buttons {
  display: flex;
  justify-content: space-between;
}
/* </BUTTONS> */

/* <PORTFOLIOS> */
.portfolio-name {
  font-size: 1.3em;
  font-weight: 600;

  color: #5B5B5C;
}

.portfolio-value {
  font-size: 1.3em;
  font-weight: 600;

  color: #34BA1C;
}

.portfolio-value-change {
  font-size: 1em;
  font-weight: 600;

  color: #34BA1C;
}

.decrease {
  color: #D34235;
}
/* <PORTFOLIOS> */


/* <MISC> */
.highlight {
  color: #ED473D;
}

hr {
  background-color: #E8E8E8;
}
/* </MISC> */

@media screen and (max-width: 768px) {
  /* <PAGE-SECTIONS> */
  .page-section {
    max-width: none;
    padding: 25px 20px;
  }

  .page-section-title {
    font-size: 1.13em;
  }
  /* </PAGE-SECTIONS> */

  /* <BREADCRUMBS> */
  .breadcrumb-item {
    font-size: 0.8em;
  }
  /* </BREADCRUMBS> */

  /* <INPUTS> */
  .input {
    font-size: 0.8em !important;
  }

  .input-label {
    font-size: 0.8em;
  }

  .input-info {
    font-weight: 400;
    font-size: 0.6em;
  }
  /* </INPUTS> */

  /* <TEXTAREAS> */
  .textarea {
    font-size: 0.8em;
  }
  /* <TEXTAREAS> */

  /* <RADIOS> */
  .radio {
    font-size: 0.85em;
  }
  /* </RADIOS> */

  /* <BUTTONS> */
  .button {
    font-size: 1em;
  }
  /* </BUTTONS> */
}
</style>
